[2016-09-20 04:13] samreid opened #1 "undefined is not a constructor"
phantomjs works great but doesn't have 100% ES5 compatibility.  Notably, I've seen undefined is not a constructor for:

Number.isInteger
Number.sign

If phantom will not fix these issues, we may wish to work around them to get better test support.

[2016-09-20 04:21] samreid opened #2 "Expand browser-based tests"
Phantom is an incredible platform for running automated headless tests, but I'm realizing that we probably want to run our tests on many platforms, including Firefox, Edge, iOS, etc and not necessarily lock in our only QA solution to be on phantom (which differs from all of the above).  So we should investigate tests outside of phantom, even if they cannot be run permanently on a headless linux se

[2016-09-20 05:23] samreid opened #3 "run qunit"
Example here: https://github.com/ariya/phantomjs/blob/master/examples/run-qunit.js

[2016-09-20 13:37] samreid commented on #2
Server based tests can include linting/grunting.

Browser-based tests may need a server component they can talk to, to report issues.

[2016-09-20 13:49] samreid opened #4 "Chipper recommendation summary"
Chipper had issue https://github.com/phetsims/chipper/issues/410 "Scheduled automated testing & notification emails".  The main points from that issue were:
- It would be great to have testing run nightly, and send out an email if there are any failures?
- @phet-steele would like emails
- Nightly seems like it would work fine if it reports only new bugs (maybe a weekly email about current bugs).
-

[2016-09-20 13:49] samreid opened #5 "Send notification emails"
See #4

[2016-09-20 13:49] samreid opened #6 "Install phantomjs on simian and get it running"
See #2 and #4

[2016-09-20 13:50] samreid commented on #6
OIT asked what we will need and I replied:

[2016-09-20 13:54] samreid opened #7 "Run the existing fuzz iframe fuzz tests in aqua"
This will support browser based tests for #2 and allow us to run them on repeat.

[2016-09-20 19:37] samreid commented on #6
OIT replied:

2016-09-20 12:56:31 MDT - Jacob EnglemanComments
Ariel/Sam,

Since it sounds like the use case for simian has changed, from phet-dev to a CI server, we should re-evaluate what type of support is appropriate. If SIS continues to manage the server, we'll need to retain control of software installation and system configuration, but we can delegate some application configuration to your

[2016-09-20 19:38] samreid commented on #6
Ariel, Matt, Jon,

I don't feel strongly one way or the other but that's partly because I don't know all the tradeoffs with SIS server management.  That being said, it seems safe to stay with them for now because we only expect a few things to be installed in the near future.

* phantomjs
* node.js

I checked that it already has git and nano.  Presumably we could download or build our own https://

[2016-09-20 19:45] samreid commented on #6
On 9/20/16 1:40 PM, Ariel Paul wrote:

[2016-09-20 19:48] samreid commented on #6
Continuing discussion on the issue mentioned above (or is it?)

[2016-09-23 15:23] samreid commented on #1
From https://github.com/phetsims/vibe/issues/27#issuecomment-249001418

[2016-10-04 16:57] samreid commented on #6
2016-10-03 12:42:28 MDT - Dylan CanfieldComments
Matt / Sam,
Unforutnately Phantomjs cannot be built on simian because the project does not support RHEL5, and never will.
https://github.com/ariya/phantomjs/issues/12773

Nodejs (with npm) is installed under /usr/local/nodejs.

Is there anything else that I can help you with?

-Dylan

[2016-10-06 16:20] samreid commented on #6
2016-10-05 10:22:42 MDT - Dylan CanfieldComments
Matt / Sam,
Given that PhantomJS won't work on RHEL5, is there an alternative piece of software that you would like to use on simian?

Regards,
Dylan Canfield
OIT - Shared Infrastructure Services

[2016-10-06 16:20] samreid commented on #6
I haven't seen phantom alternatives that provide the functionality we would like.

Is there any way to upgrade GLIBCXX and GLIBC on RHEL5?  (The phantomjs page says we can use the built binary if the system has GLIBCXX_3.4.9 and GLIBC_2.7, http://phantomjs.org/download.html )

Alternatively, what options do we have for upgrading simian to a later OS?  Can simian run an VM that supports phantomjs m

[2016-10-06 16:42] ariel-phet commented on #6
I feel like @markmorlino might have some thoughts here since he is going to be helping us think about the architecture for Simian as DR

[2016-10-06 16:42] ariel-phet commented on #6
@samreid feel perhaps it might be useful to talk with @markmorlino and explain the requirements

[2016-10-06 16:44] samreid commented on #6
Greetings @markmorlino!  The requirements for phantomjs are enumerated on the download page: http://phantomjs.org/download.html

What do you recommend?

[2016-10-06 16:45] ariel-phet commented on #6
@samreid can you also give context, I think understanding exactly the problem you want to solve would be helpful as well

[2016-10-06 16:51] samreid commented on #6
We would like a headless browser engine (webkit or better) that can run in a continuous integration system to help us identify issues in our simulations via automated testing.

[2016-10-06 17:46] samreid commented on #6
@markmorlino are you sure RHEL7 will provide phantom minimum requirements?  What would the steps be for updating to RHEL7?

[2016-10-06 18:45] markmorlino commented on #6
Yes, RHEL7 meets the minimum requirements for phantomjs.
It would be a complete re-installation of the operating system: document what is installed and running on the system, backup relevant configuration and data, install new OS, install and configure applications.

[2016-10-06 18:52] samreid commented on #6
Note to self: ask OIT what would would be involved in an upgrade, is it a clean install or do we keep data?

[2016-10-06 18:53] samreid commented on #6
@jonathanolson needs advance notice if we are wiping the system.  @jonathanolson is also running a process (for half a month so far) that needs to be completed or terminated.

[2016-10-06 19:38] samreid commented on #6
I emailed OIT:

 Dylan,

It appears that like RHEL 5 End of Production 3 Phase is currently set for March 31, 2017, we are wondering what would be involved in an OS upgrade?
https://access.redhat.com/support/policy/updates/errata

Best Regards,
Sam

On hold until we receive a response.

[2016-10-08 02:41] samreid commented on #6
2016-10-06 14:56:40 MDT - Dylan CanfieldComments
Ariel,
Yes, it is possible for your group to do the upgrade yourself. However, I did not mean to imply that we were unable or unwilling to manage a system for your automated testing framework on a newer OS. I wanted to get a discussion started to see how we could most effectively provide a solution that met your requirements. If "disaster recovery"

[2016-10-19 13:36] pixelzoom opened #8 "2 files named test-sims.js"
There are currently 2 files in aqua named test-sims.js.  This is confusing, recommended to rename one of them.  Assigning to @samreid since he created the second one (aqua/js/test-sims.js).

[2016-10-19 13:38] pixelzoom commented on #8
Also recommended to document aqua/js/test-sims.js.  It currently has no documentation, so I have no idea of its purpose.

[2016-10-19 13:55] pixelzoom opened #9 "multiple issues with test-server"
Related to https://github.com/phetsims/chipper/issues/478, but since test-server has moved to aqua, I'll open a new issue here.

There were significant changes to test-server query parameters and documentation, which I reviewed in https://github.com/phetsims/chipper/issues/478#issuecomment-252308113.  I did not (at the time) test drive the instructions.

My test drive of master @481eb87de41a402b4d

[2016-10-19 13:57] pixelzoom commented on #9
This documentation in README.md also looks incorrect:

[code]

Should "with fuzz test" be deleted? Or are these boxes only relevant if `testTask=fuzzMouse`?

[2016-10-19 14:20] pixelzoom commented on #9
Hmmm... After a *long* while, the builds did start.   Is `testDuration` by any chance still keeping each sim open (for 30 seconds?) when there's no fuzzMouse being done?

[2016-10-19 14:24] pixelzoom commented on #9
This looks odd:

![screenshot_57](https://cloud.githubusercontent.com/assets/3046552/19522676/475a9e76-95d5-11e6-9bf5-27b74dcc9a09.png)

area-model-multiplication was failing to build, but there's no error shown above.  When I attempted to build it from the command line, here's the error I saw:

[code]

Is there something wrong with the display of errors?

[2016-10-24 16:46] samreid opened #10 "JS code must be linted"
We should add a way to lint the aqua JS code.

[2016-10-24 16:49] samreid commented on #10
For instance, `cd aqua; grunt lint` should report lint errors for aqua.

[2016-10-24 16:50] samreid opened #11 "test-server/test-sims.js not passing lint"
See #10

@zepumph volunteered to fix this.  He said he can use his IDE linter so can begin on this even before #10 is complete.

[2016-10-24 17:06] zepumph commented on #11
I also linted:
js/test-sims.js
test-server/test-server.js

. . . closing.

[2016-10-24 17:06] #11 closed

[2016-10-24 17:11] samreid commented on #11
Thanks @zepumph!

[2016-10-27 21:48] samreid commented on #8
I added some minimal docs and renamed test-sims.js to phantom-script.js above.  We can flesh this out more if/when we devote more time to continuous integration.  @pixelzoom do you see anything else that should be done now?

[2016-10-27 22:31] pixelzoom commented on #8
Looks good for now, closing.

[2016-10-27 22:31] #8 closed

[2016-10-31 03:07] samreid commented on #6
We will reassign this after we have a new server.

[2016-10-31 03:08] samreid commented on #10
I'm not planning to work on aqua for a while, unassigning.

[2016-10-31 21:11] pixelzoom opened #12 "use QueryStringMachine in test-server?"
Factored out of https://github.com/phetsims/query-string-machine/issues/15

[2016-11-11 19:21] jonathanolson opened #13 "Concurrent builds in test-server"
Given the crazy-slow build time (probably somewhat due to minification), it would be nice to run a certain number of builds concurrently.

[2016-11-11 19:24] jonathanolson commented on #13
Added testConcurrentBuilds query parameter, closing.

[2016-11-11 19:24] #13 closed

[2016-11-11 19:28] jonathanolson commented on #12
Just modifying related code, I'll take care of this now.

[2016-11-11 19:41] #12 closed

[2016-11-11 20:18] jonathanolson commented on #9
'npm update' and 'grunt' stderr will now be included in the output string, so hopefully this would be caught with an error message in the future.

Presumably caused by the above.

Done, and updated all of the test-server/test-sims documentation.

Very true! I removed testFuzzRate in the above task, and modified testTask to a boolean:

- True: Keeps the sim open after loading, to test whatever task

[2016-11-11 20:19] jonathanolson commented on #9
@pixelzoom, can you at your convenience (next time you need to test things?) review the documentation and try running it again?

[2016-11-14 06:01] pixelzoom commented on #9
I'm trying to confirm that all sims load in requirejs mode.  So (following the README) I'm running with `?testBuild=false&testTask=false` --- I'm still seeing sims being built. ?!?

[2016-11-14 06:04] jonathanolson commented on #9
testBuilt not testBuild?

[2016-11-14 16:33] pixelzoom commented on #9
Typo in my comment, not in my usage:
http://localhost/~cmalley/GitHub/aqua/test-server/test-sims.html?testBuild=false&testTask=false
I see sims being built, and built sims being run.

[2016-11-14 17:25] pixelzoom commented on #9
Whoopsie, I did have the query parameter wrong, should be `?testBuilt`.

[2016-11-14 22:51] pixelzoom commented on #9
@jonathanolson and I discussed separating 'build' and 'run build' into separate query parameters, but will do that when the need arises.

Closing.

[2016-11-14 22:51] #9 closed

[2016-12-11 21:16] samreid opened #14 "Red test with no explanation"
@jonathanolson I tried running aqua load-only test and saw red with no explanation.  Is this normal?

![image](https://cloud.githubusercontent.com/assets/679486/21083383/71511632-bfac-11e6-9137-fee704ef6282.png)

[2016-12-12 01:04] samreid commented on #14
The explanation for Build A Molecule appeared much later, but there are other red sims with no explanation now:

![image](https://cloud.githubusercontent.com/assets/679486/21085223/4a98c042-bfcc-11e6-8a69-91a988941095.png)

[2016-12-13 16:33] jonathanolson commented on #14
I think I've seen it once before, I'll look into it.

[2016-12-14 03:28] jonathanolson opened #15 "More comprehensive automated testing"
I keep running into issues with building Scenery, running unit tests, running examples, other miscellaneous files, etc., that is starting to sap time.

My current plan is to have a more general automated test that runs through a large assortment of things (and for most pages, it would load, wait X seconds, and if there have been no errors the test would pass):

- Builds Scenery/Kite/Dot
- Tests re

[2016-12-19 19:25] zepumph opened #16 "Should we use Qunit instead of our current test-sims.html?"
From discussing phet-io testing with @samreid in phetsims/phet-io#158. Qunit has been good for testing accross the project and can offer more specificity than just the colored squares for each sim. If all of our tests are built on Qunit, rather than most of them, it may be easier to automate reporting, like with continuous automated testing run on Bayes. Maybe we should investigate using Qunit tes

[2016-12-21 05:45] samreid commented on #6
Bayes is being tracked here: https://github.com/phetsims/special-ops/issues/53

[2017-01-04 17:28] jbphet commented on #16
QUnit is widely used and pretty well supported, so if we can migrate our automated testing to it with a reasonable amount of effort, I certainly wouldn't have any objections.

[2017-01-04 17:40] jonathanolson commented on #16
QUnit doesn't handle the complex ordering that test-server does. I'd like to hear a more detailed plan of how things would work with QUnit first.

How would QUnit help with this?

[2017-01-05 00:23] jonathanolson commented on #16
To elaborate, it would be trickier to limit to X number of concurrent builds, and handle the test queue so that we only test a built sim after it is built. We'd require new queuing logic on the (preferably) server side, and the individual QUnit tests would need to poll the server to see the status of builds (can't/don't want to keep a client-server connection open that long).

QUnit's done() liste

[2017-01-05 01:10] jonathanolson commented on #16
Additional note: just for cleaning up globals usage, we should upgrade QUnit (since we'll just need one global instead of tons).

[2017-01-05 17:36] jessegreenberg commented on #16
I don't know how much work this would take, but the benefits listed in this issue make it seem worthwhile, I have no objections to switching to QUnit.

[2017-01-05 17:45] jonathanolson commented on #15
Example (partial) view

![continuous-03](https://cloud.githubusercontent.com/assets/480878/21690965/dce0b1ba-d333-11e6-9161-80f7fe2884c0.PNG)

Lots of empty space in certain parts because people were committing at a good pace, and only 3 browser instances and 2 build threads were going at the time.

[2017-01-05 20:04] samreid commented on #16
@ariel-phet recommended this be something @jonathanolson can work on once Bayes is ready to go.

[2017-01-05 22:08] samreid commented on #14
It looks like this may be caused by a slow sim load. For instance with testTime=10000, if build a molecule takes 15sec to load, then it could show red with no error text.

[2017-01-05 23:33] samreid commented on #14
Ideally, the testTime should be the time after the sim finishes launching.  Perhaps @jonathanolson can consider this when making aqua upgrades in the future.

[2017-01-06 04:16] jonathanolson commented on #15
Will need to examine synchronization of error messages:
[code]

[2017-01-11 19:15] jonathanolson opened #17 "Continuous testing should use npm prune"
See https://github.com/phetsims/phet-info/issues/39#issuecomment-271775803

[2017-02-14 03:14] jonathanolson commented on #15
Initial version set up on bayes (ignore SSL certificate error for now): https://bayes.colorado.edu/continuous-testing/aqua/html/continuous-report.html

Upped to 8 build threads, and set approximately that many "headless" Chrome windows running browser tests for it.

[2017-02-20 09:50] jonathanolson opened #18 "Continuous testing fails on new repo not checked out"
Should it be able to check out new repos on its own, or just ignore them and flag an error until it is updated?

[2017-04-18 22:03] phet-steele opened #19 "Phettest can't find Twixt"
@jonathanolson....why? I try to run expression exchange on phettest and I receive a script error. Specifically, the error is a 404 trying to find http://phettest.colorado.edu/expression-exchange/js/TWIXT/Easing.js, which totally looks wrong.

Some things I tried:
- expression-exchange-config.js looks fine
- I've refreshed chipper a bunch
- I've pulled all a bunch
- I verified on the phettest machi

[2017-04-19 16:57] phet-steele commented on #19
It works now,  `¯\_(ツ)_/¯`

[2017-04-19 16:57] #19 closed

[2017-05-05 16:29] jonathanolson opened #20 "npm used up all /tmp space?"
Continuous testing was failing with:
[code]

It's created ~230MB of temporary files.

I'm looking into having npm use a separate temporary directory (that we'll delete anyways).

@markmorlino, I didn't see anything mounted to /tmp directly, is there any way we can avoid this in the future?

[2017-05-05 16:30] jonathanolson commented on #20
https://github.com/npm/npm/issues/6761 looks related.

[2017-05-05 16:43] markmorlino commented on #20
I think by default on RH7 /tmp is using tmpfs so it is mapped to ram and swap. We can mount a disk partition to /tmp instead but that may have other side effects for other things using /tmp. I think pointing npm at a different directory is probably the best way to go. We can setup a separate mountpoint for that if you want to limit how big it can get or we can use a folder under /home or /data sin

[2017-05-05 16:46] jonathanolson commented on #20
Thanks for the quick reply! A limit sounds much more complicated, and I have a working solution (--cache=DIR seems to work for npm).

[2017-05-05 16:46] #20 closed

[2017-05-09 22:30] jonathanolson commented on #17
No need, we do a FRESH npm update now every time.

[2017-05-09 22:30] #17 closed

[2017-06-22 20:06] phet-steele opened #21 "Bayes is crashing quite a bit recently"

[2017-07-03 17:38] jonathanolson commented on #21
Fixed one cause, and I've moved Chrome processes to a 2-hour loop (SHOULD restart the process every 2 hours).

The lack of timestamps in the error logs is getting annoying. If it's trouble one more time, I'll figure out a way to add them.

@phet-steele, let me know if you see any other anomalies.

[2017-07-07 17:55] phet-steele commented on #21
There was one more commit to address this (https://github.com/phetsims/aqua/commit/71baa0ecd64344bfe5c6d65c2935ae6411732948). Since then I haven't seen a crash, so closing. Chances are I just jinxed it.

[2017-07-07 17:55] #21 closed

[2017-08-14 17:25] pixelzoom opened #22 "compare screenshots during automated testing"
Moved here from 8/17/17 dev meeting notes, since this will involved considerable discussion, design, identification of pitfalls, etc.

JO: I agree. Collaboration with SR may be helpful, as I don’t see a non-phet-io way of setting the seed on launch (query parameter?), sending it an event stream or triggering a predefined random fuzz (postmessage?) or getting a screenshot out (postmessage?)
JB: See

[2017-08-17 16:41] jonathanolson commented on #22
I was most interested in being able to determine "whether things changed in a sim", and ideally "what changed visually" to help tracking it down.

I was thinking that we'd be able to initialize the sim with a random seed, send it fuzz-like events/frames with another (constant) random seed, and take screenshots at predefined intervals. For each sim, it would be a series of screenshots (and a possib

[2017-08-17 16:43] jonathanolson commented on #22
These tests would also probably identify any usage of the built-in Math.random() or things that weren't based on seeds, and would presumably ensure that phet-io playback should visually match the original.

[2017-08-17 18:36] samreid commented on #22
Here's a node library that shows differences between images: https://github.com/uber-archive/image-diff

[2017-08-17 18:36] pixelzoom commented on #22
8/17/17 dev meeting notes:

• add a query parameter to set random seed
• do fuzz test and capture screenshots
• compare screenshots using checksum
• do this on continuous testing server, so it's same computer and browser

[2017-10-19 20:32] zepumph opened #23 "Color coding on continuous-report to reflect phet-io api testing"
In https://github.com/phetsims/phet-io-wrappers/issues/30 we decided it would be nice to have stable phet-io api test failures be reflected in a different color, so that they won't mess with other test failure outputs. We are not ready to implement this just yet, as we don't yet know exactly how the stable api will look, nor the stable api test. But I will let @jonathanolson know when we are ready

[2017-11-21 23:23] samreid opened #24 "Use the simulation-main.js and config file as the harness to start up unit testing"
One of the barriers to setting up unit testing for a new repo is creating and maintaining the scaffolding.  For instance, dot has this code:

[code]

This means it needs a custom config file, and a different way of loading requirejs modules.  Much of this QUnit.done and QUnit.log are duplicated, currently across 13 files.

This code can be factored out, but we still face the problem of how to load

[2017-11-21 23:25] samreid commented on #24
The proposed strategy may also provide a straightforward way to be able to run unit tests in requirejs mode as well as in compiled mode.

[2017-11-21 23:27] samreid commented on #24
The proposed strategy also provides a straightforward way to run certain tests in PhET-iO mode.

[2017-11-22 04:44] samreid commented on #24
I experimented with running tests from main and will put my results here as a "poor man's branch".  But I think we should instead investigate generating a new sim-config.js file and sim-test.html file from grunt that are parallel to the existing ones.

[2017-11-22 04:45] samreid commented on #24
[code]

runUnitTests.js
[code]

faradaysLawUnitTests.js
[code]

[2017-11-22 06:13] samreid commented on #24
Initial investigation in https://github.com/phetsims/chipper/issues/624#issuecomment-346253132 looks promising, we may continue discussion over there.

[2017-11-26 17:53] samreid commented on #24
Let's continue in https://github.com/phetsims/chipper/issues/624#issuecomment-346253132, closing.

[2017-11-26 17:53] #24 closed

[2017-11-28 06:06] samreid commented on #6
No need for phantom, Bayes is using Chrome, closing.

[2017-11-28 06:06] #6 closed

[2017-11-28 06:15] samreid opened #25 "QUnit should not rely on timeout--it should know when tests complete"
@jonathanolson surmised that QUnit 1.14 and possibly QUnit 2.0.1 don't send out messages when testing is complete, and that aqua is having to rely on the 40 second timeout before assuming tests are complete.

I tried setting the duration to 400,000 and ran the tests, and never saw the [next test] message when running http://localhost/aqua/html/qunit-test.html?url=http://localhost/scenery/tests/qun

[2017-11-28 06:22] samreid commented on #25
According to the docs, `QUnit.done` is supposed to work here, and I see many occurrences of
[code]
throughout our project.  Are these doing anything?  I tried adding this line of code to the callback:

[code]
and I saw this is incremental after each QUnit.test, not after all tests completed:

[code]

Maybe we should try QUnit.moduleDone: https://api.qunitjs.com/callbacks/QUnit.moduleDone
More abou

[2017-11-28 06:25] samreid commented on #25
It looks like scenery already defines multiple modules, and QUnit.moduleDone gets multiple callbacks per module:

[code]

[2017-11-28 06:32] samreid commented on #25
https://api.qunitjs.com/callbacks/QUnit.on says we should use

[code]
which according to https://github.com/js-reporters/js-reporters

However, this doesn't seem to exist in qunit-1.14.0.js which scenery was using.  Tomorrow we'll look at upgrading QUnit and testing `on('runEnd')`

[2017-11-28 13:54] samreid commented on #25
Query String Machine is using qunit-2.0.1.js and QUnit.on is still undefined.  According to https://github.com/qunitjs/qunit/commit/f48072e6203c9b0fc9371734cc6798de17faf28e#diff-4607e46b15da8ae44c4b47730c6d5963 on was added in Jan of 2017, just before 2.2.0, so we would need a newer QUnit.

[2017-11-28 14:13] samreid commented on #25
I added QUnit 2.4.1 to sherpa and tested `QUnit.on( "runEnd")` in the context of Query String Machine (with added modules) and it seemed to behave correctly.  We will need to test it on asynchronous tests too.

[2017-11-29 05:28] samreid commented on #25
Here's the compatible done listener:

[code]

[2017-11-30 12:49] samreid opened #26 "Port from qunit-1.14.0.js to qunit-2.4.1.js"
I'm seeing usages in:

- [x] axon
- [x] dot
- [x] kite
- [x] phet-core
- [x] phetcommon
- [x] scenery

I'll use the chipper generate-test-harness branch until review and merge to master is complete: https://github.com/phetsims/chipper/issues/631

[2017-11-30 14:09] samreid commented on #25
This will be handled in qunit-connector.js when the time is right.

[2017-11-30 14:10] samreid opened #27 "Run new tests on bayes"
See https://github.com/phetsims/chipper/issues/631

@jonathanolson and I discussed the proposed test harnesses and how to run it in Bayes.  @jonathanolson recommended that I work on changes to continuous-server.js myself, but that I would need his assistance to get it running on the server.

[2017-11-30 14:12] samreid commented on #27
I added the entry point above, @jonathanolson can you please test that I've done it correctly?  If all seems well, can you integrate this code to run on the continuous server?  If this works out, we can remove "axon" from the preceding section `// Unit tests (require.js mode)`

[2017-11-30 20:13] phet-steele commented on #26
@samreid I believe one of the above commits is causing other repos to fail with the below error (since the path changed?):

[code]

Relavent line in kite:
[code]

Also failing in dot, scenery, and of course axon.

[2017-11-30 21:15] jonathanolson commented on #27
Just checked quickly, but noticed a few things:

- Can the parenthesis formatting regressions be fixed?
- I see `axon-test.html` checked in to axon, but this would load `axon-tests.html` (plural)

Otherwise it looks fine.

[2017-11-30 21:50] samreid commented on #26
Thanks, I removed the references.

[2017-12-01 05:25] samreid opened #28 "New QUnit tests should also test compiled code"
We will need a way to build and run the tests, it's a new requirejs config and main file.

[2017-12-01 16:36] samreid commented on #26
We'll have a few more problems like the preceding one as Bayes transitions to the new unit tests.

[2017-12-02 02:16] samreid commented on #25
qunit-connector.js knows when the test end and is sending out the next-test message promptly.  I tested this with http://localhost/aqua/html/qunit-test.html?url=http://localhost/scenery/scenery-tests.html

@jonathanolson do we need to leave the timeout in as a "just in case tests get into loop" sort of situation?  Or should we eliminate it?  Maybe there is already a better failsafe in aqua?

[2017-12-02 02:25] samreid commented on #26
Everything is now qunit-2.4.1, closing.

[2017-12-02 02:25] #26 closed

[2017-12-02 02:26] samreid commented on #1
We are using chrome headless, closing.

[2017-12-02 02:26] #1 closed

[2017-12-02 02:27] samreid commented on #2
We have many automated browser tests running on bayes now and it is easy to add more, closing.

[2017-12-02 02:27] #2 closed

[2017-12-02 02:27] samreid commented on #3
Bayes runs many qunit tests a day and it is working well, closing.

[2017-12-02 02:27] #3 closed

[2017-12-02 02:28] samreid commented on #4
Bayes does everything we described above except things that are tracked in other issues, closing.

[2017-12-02 02:28] #4 closed

[2017-12-02 02:31] samreid commented on #5
We are in the habit of checking Bayes regularly, do we need to add an email component too?  I'll create voting by thumbs:

[2017-12-02 02:31] samreid commented on #5
Yes, email integration would still be valuable and we should take the time to implement it.

[2017-12-02 02:31] samreid commented on #5
No, email integration is not worth the effort because we are in the habit of checking Bayes regularly.

[2017-12-02 02:33] samreid commented on #7
I'm no longer sure what a "fuzz iframe fuzz test" is, let's close this issue.

[2017-12-02 02:33] #7 closed

[2017-12-02 02:35] samreid commented on #10
@jonathanolson does bayes lint-everything hit aqua JS code?

[2017-12-02 02:37] samreid commented on #27
The new tests are running on Bayes, closing.

[2017-12-02 02:37] #27 closed

[2017-12-02 02:39] samreid commented on #28
We may also want this to be different for repos with different build system (kite, dot, scenery).

[2017-12-02 02:40] samreid commented on #28
@jonathanolson I'd love to chat with you about this when you have time.

[2017-12-02 02:44] Denz1994 commented on #5
https://github.com/phetsims/chipper/issues/410#issuecomment-184369172
Agreed if new bugs are emailed.

[2017-12-03 14:11] samreid commented on #28
I'm going to elevate priority based on a discussion I had with @jonathanolson on slack.

Some notes:
1. Previously, dot/kite/scenery were built (without test code being built), then non-built test code was used to run the tests.
2. The new test strategy uses requirejs and it seems tricky to segregate the requirejs unit tests from the module (the code we want to test) itself.
3. Perhaps what we nee

[2017-12-04 05:50] samreid commented on #28
I experimented with doing a "built tests" version of axon and ran into difficulties.  I thought it would be as simple as:
1. pointing chipper's requirejs build to the new config file and main
2. add QUnit to the dependencies

However, I forgot that chipper would require a title string to be declared and used.  After I added that, I saw a splash screen that never finished loading.  I'm not sure wha

[2017-12-04 10:09] jonathanolson commented on #28
Are you looking at chipper 2.0 branch, or master?

[2017-12-04 10:20] jonathanolson commented on #10
It lints the version of aqua code that is being run (which is not always the latest master, since aqua won't pull itself). Is that sufficient?

[2017-12-04 11:07] jonathanolson commented on #5
I see a lot of "yays" for this. I'm interested in what the "new bugs" would really mean then.

For instance, if I cause a runtime error that hits every simulation on startup, that will cause failures in ~87 runnables, each currently with 8 tests (~700 individual tests that were passing will start to fail).

Furthermore, the same test can fail with many different stack traces (depending on the fuzz

[2017-12-04 16:00] jbphet commented on #5
I voted no, and thought I should explain myself.  I'm in the habit of checking Bayes every morning, and if I see anything that needs attending to, I put it on my to-do list for the day and prioritize it relative to everything else.  If I change something in common code, I set a timer and check Bayes some time later.  Email would be unlikely to change this behavior for me, but I wouldn't object to

[2017-12-04 16:44] pixelzoom commented on #5
I'm changing my "yay" to a "nay".  I think it would be difficult to identify "new issues", and I don't want to hear about chronic issues repeatedly. And it sounds like people are already successfully identifying problems manually.  So I don't think this is worth the work to automate this.  Perhaps better to emphasize that, if you make a common code change, then you'd better have a look a bayes aft

[2017-12-04 17:01] samreid commented on #28
I have been looking at master, knowing we would have to integrate with 2.0.

@jonathanolson and I spoke this morning and decided we will skip the built tests for now.  We haven't seen a "built-only" bug for a while so we will defer for now.

[2017-12-04 17:13] samreid commented on #5
@jonathanolson made a compelling argument, I'm going to move my thumb's up to the "not now" column.  Once things are very stable and errors are more rare, we can re-evaluate.

[2017-12-07 17:28] samreid opened #29 "Review how to create and run new unit tests"
At today's meeting @jbphet asked if developers should be in the loop about how to use the new qunit testing, and I suggested we should discuss it at developer meeting.

Briefly, to add unit tests to a new repo:
[code]
Then populate js/{{REPO}}-tests.js with tests, see `dot/js/dot-tests.js` for a good example, which looks like this:

[code]

Tests should be placed adjacent to the file they test (if

[2017-12-07 19:34] jonathanolson commented on #29
Instead of having me restart bayes, we would create another list under perennial/data that would be all of the sims with `${repo}-tests.html` that should be run. This would be updated whenever you add unit tests to a sim, and continuous testing would pull the data file and add it to the tests (without restarting).

[2017-12-07 19:51] jonathanolson commented on #29
Assigning to me for the above, unless anyone has objections.

[2017-12-08 04:53] samreid opened #30 "Address review/discussion feedback for automated test harnesses"
In today's discussion of #29 we recommended this additional work:

- [ ] dot/kite/axon test configs have extra stuff => or just use one config file with different deps, see https://github.com/phetsims/chipper/issues/638

- [x] move docs somewhere.  grunt --help should point to the docs

- [x] maybe can get rid of these ( see https://github.com/phetsims/aqua/issues/31)
    // if ( !window.assert )

[2017-12-08 20:48] samreid commented on #28
I removed the built tests, @jonathanolson can you please spot check review and restart Bayes testing if it seems good?

[2017-12-08 20:50] samreid commented on #5
Based on preceding remarks, I'm inclined to close the issue.

[2017-12-08 20:50] #5 closed

[2017-12-08 21:00] samreid commented on #10
That seems sufficient for now since that file isn't changing too much, and when it does change we probably pull it on bayes.

[2017-12-08 21:00] #10 closed

[2017-12-08 21:01] samreid commented on #15
@jonathanolson can this issue be closed?

[2017-12-08 21:02] samreid commented on #18
@jonathanolson does the preceding commit fix this issue?  If not, does this issue relate to https://github.com/phetsims/aqua/issues/29#issuecomment-350071160 ?

[2017-12-08 22:08] samreid opened #31 "How to deal with assert.expect( 0 )?"
In https://github.com/phetsims/aqua/issues/30 we discussed `assert.expect`.  Here's a case where it's used and currently necessary:

[code]

When assertions are enabled, two tests are run (the assert.throws calls).  When assertions are disabled, 0 tests are run.  If the `assert.expect` was commented out, QUnit would report a failure with this message:

Two solutions for dealing with this problem a

[2017-12-09 04:43] samreid commented on #30
I added docs in the preceding commits.  The chipper 2.0 `grunt --help` points to https://github.com/phetsims/aqua/blob/master/docs/adding-tests.md and it's ready for review.

[2017-12-09 08:41] jonathanolson commented on #15
At least the following unimplemented (either leave open, or we can create separate issues):

[2017-12-09 08:55] jonathanolson commented on #28
I meant only scenery/kite/dot. I think we do still occasionally see built sim issues. That looks like it was removed (I restarted on bayes).

[2017-12-10 14:42] samreid commented on #28
Creating compiled tests may be easier if we can combine the config files as suggested in #30.

[2017-12-10 14:46] samreid commented on #15
Sounds good @jonathanolson.  I'm not planning to work on those in the near future, so unassigning for now.

[2017-12-11 16:33] pixelzoom commented on #31
Why do we need to run unit tests with assertions disabled?

[2017-12-11 16:44] samreid commented on #31
It may be unnecessary to run unit tests with assertions disabled.  Is there a class of errors that only manifests when assertions are off?  If so, is it a frequent enough kind of error that we need to run tests with assertions disabled?

[2017-12-11 17:15] pixelzoom commented on #31
The only one I can think of is failure to use `assert &&` before a call to `assert`.  And that will certainly be noticed outside of unit tests.

[2017-12-11 17:18] samreid commented on #31
The proposal to only run unit tests with assertions enabled sounds reasonable to me, but I want to run it past @jonathanolson before we proceed.

[2017-12-11 17:19] pixelzoom commented on #31
If you're going to use this pattern:

[code]

... then you shouldn't be assuming that there are n tests that don't involve `window.assert`.  You should be keeping a counter that gets incremented whenever any test is run, then check the counter:

[code]

And yes, that sounds like a colossal error-prone pain.

[2017-12-11 17:21] pixelzoom commented on #31
If we do decide to run tests with assertions enabled, then tests should verify that `assert` is enabled.

[2017-12-11 17:22] samreid commented on #31
We are also planning to run unit tests on compiled code, where assertions cannot be enabled.

[2017-12-11 17:24] jonathanolson commented on #31
Presumably only for scenery/kite/dot, not the simulations/runnables?

[2017-12-11 17:26] samreid commented on #31
I'm getting confused.  In this thread: https://github.com/phetsims/aqua/issues/28#issuecomment-350433763

Did you mean "We will only skip scenery/kite/dot and will continue to test built sims, since we see issues there"?

[2017-12-11 17:33] pixelzoom commented on #31
Sam Reid [10:31 AM]
We could avoid the assert.expect() altogether if we add at least one non-short-circuited assert.* call to each test.  Should we do that too?

Chris Malley [10:32 AM]
I think having a “dummy” test that is always run and succeeds is preferrable to having assert.expect(0).   But surely someone else must have run into this problem….

[2017-12-11 17:35] pixelzoom commented on #31
`assert.ok( true, 'so we have at least 1 test in this set' );`

[2017-12-11 17:39] pixelzoom commented on #31
@jonathanolson I assume that this is also unnecessary in TrailTests.js:

[code]

OK to remove it?

[2017-12-11 17:41] samreid commented on #31
In TrailTests.js the `assert.expect( 4 )` is checking that exactly 4 of the preceding 6 callbacks were called--it may be necessary (though I must admit I don't understand why we would only expect 4 of those 6 callbacks).

[2017-12-11 17:46] samreid commented on #31
Mind if I replace all `assert.expect( 0 )` with `assert.ok( true, 'so we have at least 1 test in this set' );`?  I wasn’t sure if you are working on it or not.

[2017-12-11 17:47] samreid commented on #31
@pixelzoom gave me the go-ahead on slack

[2017-12-11 17:54] samreid commented on #31
I replaced `expect( 0 )` with the synthetic test.

[2017-12-11 17:54] samreid commented on #31
@pixelzoom can I create a scenery issue for https://github.com/phetsims/aqua/issues/31#issuecomment-350799249 and close this issue?

[2017-12-11 18:14] samreid commented on #31
I created https://github.com/phetsims/scenery/issues/720, closing.

[2017-12-11 18:14] #31 closed

[2017-12-11 22:47] pixelzoom opened #32 "document query parameters in test-sims.js"
A Slack discussion today (12/11/17) pointed someone to the `testSims` query parameter in test-sims.js.  I was surprised to see that none of the query parameters in test-sims.js are documented. I.e.:

[code]

[2017-12-11 22:49] pixelzoom commented on #32
The one bit of documentation in the above:

` defaultValue: [], // will get filled in automatically if left as default`

... leaves me with the question "filled in automatically using what?"

[2017-12-13 00:40] jonathanolson commented on #32
Is the documentation in the above commit sufficient?

[2017-12-13 16:14] samreid commented on #30
`assert.expect` is basically taken care of, last loose ends for that are tracked in https://github.com/phetsims/scenery/issues/720 . I'll check them off of this list.

[2017-12-13 16:27] samreid commented on #30
All checkboxes complete or moved to other issues, closing.

[2017-12-13 16:27] #30 closed

[2017-12-13 16:31] samreid commented on #28
On hold until we address https://github.com/phetsims/chipper/issues/638

[2017-12-13 18:06] phet-steele opened #33 "Move phettest to a new machine"
The main motivation is to speed up phettest. It would be great if the "Pull All" button could use `parallel-pull-all.sh`, but the current machine serving phettest (Mendeleev) can't handle that. (I'd need @jonathanolson's help on wiring that button up after switching machines)

Oh and the header for phettest would have to change to a new name, whatever that may be:

<img width="707" alt="screen sho

[2017-12-13 18:38] jonathanolson commented on #33
Presumably I can help wire it up tomorrow. Do you have a computer selected?

[2017-12-13 20:47] #32 closed

[2017-12-13 22:09] phet-steele commented on #33
Tomorrow sounds great. I've selected a new-ish MacBook Pro running macOS 10.13.2. `parallel-pull-all.sh` runs great on it.

[2017-12-22 19:57] samreid opened #34 "Use same testing framework for Node and HTML?"
We started using mocha for chipper tests, and we should consider using it for browser tests too.  I noticed in http://www.techtalkdc.com/which-javascript-test-library-should-you-use-qunit-vs-jasmine-vs-mocha/ that Mocha can use any assertion library--I wonder if that means we can use our ASSERT/assert.js for it and what that would imply.  @jonathanolson thoughts?

[2017-12-28 17:15] pixelzoom opened #35 "document how to restart Continuous Testing (CT) service"
As reported on Slack, Continuous Testing server (aka aqua, aka bayes) has been down for several days during the week of 12/25, and is still down as of this writing.  Since PhET has come to rely on this, perhaps we should have some instructions on how to start it.  @jonathanolson is apparently running it  from his own account, and it's questionable whether https://github.com/phetsims/aqua/README.md

[2017-12-28 17:17] pixelzoom commented on #35
In Slack dev-public:

----- December 27th, 2017 -----
Sam Reid [9:14 AM]
Bayes has been blank for a few days now.

----- December 28th, 2017 -----
Chris Malley [10:03 AM]
Bayes is still down. Anyone on it?

Chris Malley [10:08 AM]
Are the instructions for restarting bayes in https://github.com/phetsims/aqua/README.md? Are they current? @jonathanolson?

Sam Reid [10:09 AM]
Last we spoke he said he

[2017-12-28 19:07] ariel-phet commented on #35
Also marking for dev meeting for the moment, since there might be some auxiliary questions

[2017-12-28 19:25] jonathanolson commented on #35
As discussed in Slack chat, I'll need a new GitHub account for this purpose (or shared with other automated purposes).

https://developer.github.com/v3/guides/managing-deploy-keys/#machine-users notes that we can just create an account (ideally with a phet admin email account, @oliver-phet are you available to do this?), and then we can assign it as an outside collaborator.

Tagging @jbphet, as he

[2017-12-28 19:44] oliver-phet commented on #35
@jonathanolson I just created a new account, I'll slack credentials.

[2017-12-28 19:52] jbphet commented on #35
The related issue for rosetta is https://github.com/phetsims/rosetta/issues/168.

[2017-12-29 15:29] samreid commented on #34
Here's what an example browser report looks like:

![image](https://user-images.githubusercontent.com/679486/34440322-a7bcb21a-ec71-11e7-8444-9fecffa5ff6b.png)

Not too impressive.  I also realized QUnit also supports Node, so maybe we should use that?  In any case, we should decide this as a team.  Flagging for developer meeting.

[2017-12-29 15:33] samreid opened #36 "Is bayes no longer running unit tests?"
I noticed that http://localhost/axon/axon-tests.html fails with `Uncaught ReferenceError: PhetioIDUtils is not defined`.  I will need to regenerate the unit test HTMLs but I'm wondering why Bayes didn't catch this kind of issue.  Is it no longer running unit tests?

[2017-12-29 16:17] samreid commented on #36
It seems Bayes was running the unit tests, but how were they not failing until they got the updates committed above?  I'm confused.

[2018-01-03 22:04] jonathanolson commented on #35
Added relevant documentation in https://github.com/phetsims/aqua/blob/master/docs/continuous-testing-management.md.

@ariel-phet, should someone review this?

[2018-01-03 22:32] jonathanolson commented on #36
Tested Scenery unit tests, and it looks like it was stalling out trying to request an image from a relative path (example-image-1.png). Since the test HTML moved to the top level, the relative path was incorrect (but would actually "work" if localhost://scenery pointed to scenery, since the extra `../` would be ignored). This looks like it stalled out that one test, and prevented test completion (

[2018-01-04 19:17] pixelzoom commented on #35
Assigned to me at 1/4/18 dev meeting.  I'll review, then have @jonathanolson shut down CT and see if I can successfully restart it.

[2018-01-05 19:50] pixelzoom commented on #35
Starting to walk through the documentation...

[continuous-testing-management.md](https://github.com/phetsims/aqua/blob/master/docs/continuous-testing-management.md) says to use `pm2 list` to display running processes.   I see data at https://bayes.colorado.edu/continuous-testing/aqua/html/continuous-report.html, but `pm2 list` does not show "App name" `continuous-server`, or any other processes.

[2018-01-05 20:41] pixelzoom commented on #35
`pm2 list` apparently only shows the processes associated with the user who runs it.  And "All continuous testing parts run on bayes.colorado.edu under the phet-admin user" apparently means that everything in the doc (not just "testing") must be run while logged in as phet-admin.

[2018-01-05 22:16] pixelzoom commented on #35
Slack with @jonathanolson:

Chris Malley [1:49 PM]
i’ve reviewed the entire continuous-testing-management.md doc.  There are multiple levels of failure described.  Do you think it’s sufficient to simply confirm that I can `pm2 stop continuous-server ` then `pm2 start continuous-server `?

Jonathan Olson [2:05 PM]
That would presumably be fine
Make sure you can browse the logs for the process too
A

[2018-01-05 22:16] pixelzoom commented on #35
Couldn't sync up with @jonathanolson, so this will have to wait until next week.

[2018-01-08 17:35] ariel-phet commented on #34
@jonathanolson will take a quick look at how Qunit works for node.js and report back for dev meeting. We can discuss more then.

[2018-01-08 18:18] samreid commented on #34
Sample usage is on QUnit's front page: https://qunitjs.com/

[2018-01-08 18:37] pixelzoom commented on #35
I did:

[code]

After waiting 10 minutes or so, everything looks as expected on https://bayes.colorado.edu/continuous-testing/aqua/html/continuous-report.html.

So basic stop/start is working.  If there are any more advanced admin scenarios, we'll test the documentation when we encounter them.

Closing this issue.

[2018-01-08 18:37] #35 closed

[2018-01-08 19:30] jonathanolson commented on #34
I'll do a quick rewrite to use qunit testing. For sake of a comparison (and what in mocha was useful that I'd like to have or mimic using qunit), I'll show an example test and the full test output for both.

[2018-01-08 19:37] jonathanolson commented on #34
Mocha, all tests passing:
[code]

[2018-01-08 19:42] jonathanolson commented on #34
Mocha when I cause a test failure:
[code]

[2018-01-08 20:37] jonathanolson commented on #34
QUnit output:
[code]

Error output is similar.

QUnit is good enough (and supports async functions, or anything that returns a Promise), so I'm just going to move forward with the swap to it.

[2018-01-08 20:44] jonathanolson commented on #34
Moved everything off mocha to qunit. @samreid, anything else to do here?

[2018-01-08 21:01] samreid commented on #34
I see 3 occurrences of "Unit tests, run with `mocha`" that should probably be updated.  The rest of the changes seem good.  I installed qunit and ran the perennial tests and it seemed reasonable.

[2018-01-08 21:15] ariel-phet opened #37 "Future enhancements to automated testing"
After chipper 2.0 and some other work settles it would be good to discuss and prioritize some enhancements to automated testing.

I will bring this issue up at dev meeting for further discussion, but currently marking deferred.

A few comments already brought up:

seems also somewhat related to https://github.com/phetsims/aqua/issues/15

[2018-01-08 21:18] jonathanolson commented on #34
Changed references, closing. Thanks!

[2018-01-08 21:18] #34 closed

[2018-01-23 13:57] samreid opened #38 "PhET-iO wrapper tests should run with each simulation"
In https://github.com/phetsims/phet-io-wrappers/issues/37 we have been running PhET-iO wrapper tests in a single test unit, but going forward it makes more sense to run the PhET-iO wrapper tests with the simulations.  For instance, when running the beers-law-lab unit tests, it would test all of the PhET-iO wrappers (as part of the beers-law-lab row).

My main motivation for this is to correctly ca

[2018-01-23 17:36] phet-steele commented on #33
Work on the transfer is over, thanks @jonathanolson

[2018-01-23 17:36] #33 closed

[2018-01-23 22:43] samreid commented on #38
@jonathanolson's suggestion in https://github.com/phetsims/phet-io-wrappers/issues/37#issuecomment-359942587 sounds even better.  If that pans out, we can close this issue, going on hold for now.

[2018-01-29 19:54] jessegreenberg opened #39 "Built sims aren't loading in test-sims.html"
Built sims are not loading in local tests using test-sims.html. @jonathanolson is this related to chipper 2.0? Maybe after version/id convention changes? All sims look like this:

![capture](https://user-images.githubusercontent.com/6396244/35531179-7d853bda-04f3-11e8-9fd7-a2b21091ff4c.PNG)

[2018-01-29 21:17] jonathanolson commented on #39
Yes, I believe I missed that in the chipper 2.0 work. Checking.

[2018-01-29 21:25] jonathanolson commented on #39
Applied fixes above. Seems to be working for me now, can you verify?

[2018-01-29 21:36] jessegreenberg commented on #39
Looks great to me, thanks @jonathanolson
![capture](https://user-images.githubusercontent.com/6396244/35535730-c9f0f6ea-0501-11e8-8121-fa9aeb5a8041.PNG)

[2018-01-29 21:36] #39 closed

[2018-02-19 17:58] jbphet opened #40 "removing a repository causes issues"
The 'exemplar' repo was recently deleted, and after this happened, Continuous Testing (CT) started failing.  It wasn't just failing for the examplar repo - it was failing to update the web page at all.

I worked with @phet-steele to fix this, and we did it by shutting it down, manually deleting the local copy of the examplar directory used by CT, doing a `git pull`, and restarting CT.

Is there so

[2018-02-19 18:05] pixelzoom commented on #40
@jbphet asked:

... or at least document what needs to be done when a repo is deleted or renamed?

[2018-02-25 21:41] samreid opened #41 "Remove unused files"
I'm seeing several files that look like they pertain to an old PhantomJS prototype.  They should be deleted.

[2018-02-25 21:42] samreid commented on #41
I removed the ones that seemed stale, @jonathanolson can you please skim/double check?

[2018-02-26 03:39] samreid commented on #28
It could be easy to add back the built-sim fuzz tests.  More work to add built tests for qunit (would need another build step using the qunit config file).  @jonathanolson can I double check on your recommendation before I proceed?

[2018-02-26 05:57] jonathanolson commented on #28
I believe I did this as part of semi-related work.

Probably not terribly important, most things would get caught in sim fuzzing for common repos.

[2018-02-26 05:59] jonathanolson commented on #41
Those files looked fine to delete, closing. Thanks!

[2018-02-26 05:59] #41 closed

[2018-02-26 16:18] samreid commented on #28
Sounds good, it seems this issue is ready to close (please reopen if you disagree).

[2018-02-26 16:18] #28 closed

[2018-03-05 16:47] samreid opened #42 "Bayes CT now requires a *.js suffix to start CT?"
`pm2 start continuous-server` reports

But adding the *.js suffix seems to be OK.  Why did this change?  Shall we update continuous-testing-management.md?

[2018-03-06 09:56] jonathanolson commented on #42
Sorry, I updated the docs (and a few other points), and verified it. Not sure, but it's probably not worth investigation.

[2018-03-06 09:56] #42 closed

[2018-03-07 02:18] zepumph commented on #23
unassigning for now until we have a need for this (more sims with stable apis).

[2018-05-17 19:14] samreid opened #80 "Add continuous testing for other browsers"
At today's meeting, we discussed the fact that Bayes CT is only reporting testing on one version of Chrome.  We would like to extend this to cover other browsers, to catch issues like the ones that came in https://github.com/phetsims/tasks/issues/932

We discussed getting another Windows machine (not a server) that could run testing in several browsers (including IE, firefox, edge, chrome).

Assig

[2018-05-22 16:57] jonathanolson opened #43 "[continuous testing] add browser/device identification"
Probably needed for https://github.com/phetsims/QA/issues/120.

Undecided yet as to whether recording the user-agent would be sufficient. One way would be to set a stored configuration "name" in each browser used for testing that would be used for reporting, e.g. `bayes-chrome` (or generally the name of the device, and the name of the browser) so that we could track down the exact device needed fo

[2018-06-28 16:02] jonathanolson opened #44 "Automated changeset testing"
There are many times where I've been waiting for local testing (aqua, unit tests, snapshot comparison) to complete before pushing local commits to master. It's been inconvenient, since it prevents me from starting code changes until the testing is complete.

I'd like to consider something like the following (very open to modification):

- Locally I'd identify two sets of SHAs (usually a "before" a

[2018-07-05 16:14] jonathanolson commented on #44
Yes, presumably we'd share whatever code would be desired.

Yes, see https://github.com/phetsims/aqua/issues/22. This would need design for how it should show up when there is a visual difference.

[2018-07-11 17:06] chrisklus opened #45 "Snapshots should be deleted"
SR, MK, and I moved the snapshots into a tmp folder and started deleting them but they need to finish

[2018-07-11 20:21] chrisklus commented on #45
The snapshots finished deleting, I also removed the tmp folder

[2018-07-11 20:21] #45 closed

[2018-07-11 20:57] pixelzoom commented on #44
Not something that I've encountered a need for, but if it's something that others need, and the benefit/cost ratio is high enough...

[2018-07-12 03:30] samreid commented on #44
The proposed solution requires pushing the code to branches--why not check out a 2nd working copy, so you can run tests on the 1st working copy while developing in the 2nd working copy?  Then we won't have to work out any client-server protocol, etc. and you can test changes that haven't been pushed at all.  This approach will require approximately 0 investment and is something you can use right a

[2018-07-12 16:28] jonathanolson commented on #44
I'm not concerned about disk space. Switching between working copies sounds inconvenient, so much that I'd prefer pushing to a branch (even locally) so I could check out the "testable" point on my 2nd working copy.

Also offloading the computational load to a server would be nice, since the more "comprehensive" testing that I'd like would take up a lot of time (and depending on the development dev

[2018-07-12 16:32] pixelzoom commented on #44
If we go with the approach of using a branch, +1 to keep the branch local, or doing whatever is necessary to avoid an explosion of branches.

[2018-07-12 16:52] jonathanolson commented on #44
I'm not sure anything would cause an explosion of a branch, because it would typically look like:

1. Create a branch for a specific commit (say a `some-feature` branch in Scenery).
2. Run the testing/comparison.
3. Merge it into master and delete the branch.

[2018-07-17 00:45] zepumph opened #46 "Create a composite Qunit test to run all Unit tests"
From https://github.com/phetsims/phet-io-wrappers/issues/114, we were using a package called `qunit-composite` that was working nicely for consolidating each sim's wrapper qunit tests. Taking this its logical conclusion, we can create a single runnable that would run every qunit test in the project. That would be nice.

Two thoughts here:
* We currently have CT that will test all of these qunit su

[2018-08-15 15:10] KatieWoe opened #47 "Several CT tests are no longer being done"
These tests have not been done in CT for some time
axon
circuit construction kit common
phet core
phet io
phetcommon
querry string machine
tandem

[2018-08-15 18:17] jonathanolson commented on #47
Hmm, the last test was:
[code]

I'll restart the Chrome processes and we'll see if it stalls on this in the future.

[2018-09-11 20:34] zepumph opened #48 "How many days does CT keep old snapshots?"

[2018-09-11 20:38] zepumph commented on #48
I found how many days snapshots were kept buried in continuous-server.js, so I moved it to a constant, now anyone can change it.

[2018-09-11 20:38] #48 closed

[2018-09-19 12:32] samreid opened #49 "CT race condition assigns results to the wrong repo"
These errors are showing for dot today, note that the URLs come from friction.  @jonathanolson can you please take a look?

[code]

[2018-09-20 06:27] jonathanolson commented on #49
Basically there's a slight race condition so if the timing is just right, it shows up in the wrong place. Presumably if I'm deep into CT code again I'll fix it.

[2018-09-21 14:30] KatieWoe opened #50 "Bayes CT is down"
The CT page is not showing any results.
![down](https://user-images.githubusercontent.com/41024075/45887251-7ca95f00-bd78-11e8-8032-8c4ccad37e9b.PNG)

[2018-09-21 14:58] jonathanolson commented on #50
I updated phet-io-wrapper-arithmetic's permissions and it looks like it resolved the issue. The first snapshot completed npm stuff, and it looks like the testing has started.

[2018-09-21 14:58] #50 closed

[2018-10-08 21:23] KatieWoe opened #51 "CT results not showing up"
As of the 3:22 PM Mountain time 10-08-2018, the last results are from 6:24 pm 10-07-2018.
Snap shot status is:
[code]
![ct](https://user-images.githubusercontent.com/41024075/46634419-1f4e3580-cb0e-11e8-95b0-a8c049a6f042.PNG)

[2018-10-08 22:58] jonathanolson commented on #51
Looks like slater was removed (but not in our "list" of repositories) leading to failures. This should be fixed now, and it looks like it's creating a new snapshot at this moment.

Let me know if this isn't resolved.

[2018-10-09 14:57] samreid opened #52 "Run tests in puppeteer"
As suggested in https://github.com/phetsims/binder/issues/8#issuecomment-389249567

My first motivation is to make tests run in parallel.  Puppeteer may be able to do that with client code that parallelizes, or we may benefit from something like: https://github.com/thomasdondorf/puppeteer-cluster

The end goal is to have something that can run easily/automatically and run a large amount of tests q

[2018-10-09 15:58] #51 closed

[2018-10-09 16:13] samreid commented on #52
I emailed @kathy-phet and @ariel-phet

Sam

[2018-10-09 16:45] ariel-phet commented on #52
@samreid what is your estimate for an initial investigation?

[2018-10-09 16:54] samreid commented on #52
I am guessing around 2 hours to set up initial harness to get unit tests running in puppeteer using async/await.  I'll be learning how to set up Promises and run them in parallel and would benefit from a mentor (<1 hour), if someone has time to help on that step.

If that step goes well, the next step would be to add fuzz tests.

[2018-10-09 17:02] ariel-phet commented on #52
@samreid take 4 hours to begin and lets see where you get. Automated testing is certainly quite beneficial to the project, so worthy of some investment in improving efficiency.

Check with @chrisklus or @jbphet regarding Promises.

[2018-10-09 19:43] samreid commented on #52
Notes from discussion with @jonathanolson:

bayes CT: all tests take around 4 hours.
it runs 9 at a time, so takes around 4/9 hour = 27 minutes to run all tests for one snapshot.

We considered send set of shas to bayes, then it can run tests on those.

Focus on problems that could develop PhET developer workflow.  Bayes can catch lower-frequency issues (like building scenery).
(0) grunt lint-ever

[2018-10-09 23:00] samreid opened #53 "Property fuzz"
Fuzz mouse and touch is an inefficient way to explore the state space of a simulation, I wonder if we should use Property `validValues` or `range` to fuzz through states?  On the other hand, perhaps *combinations* of legal Property values could be prohibited and may result in false positives.  @jonathanolson what do you think about adding this as a new kind of test?

[2018-10-10 05:49] samreid commented on #52
A heads up to @zepumph that some SimTests are moving to aqua/js/local/test.js

[2018-10-10 11:54] mbarlow12 commented on #52
@samreid I noticed the following in https://github.com/phetsims/aqua/issues/52#issuecomment-428324754:

I found a couple references that might be helpful:
- [foxr](https://github.com/deepsweet/foxr) similar to puppeteer for Firefox
- https://gist.github.com/evandrix/3694955 has some info on other headless browser options

Hope it's useful!

[2018-10-10 14:59] samreid commented on #52
Questions about how to integrate this:
1. Should it run from a grunt task?  How will we get something that runs both this and lint/build?
2. Should it parallelize by default?
3. How do we choose which tests to run?  Should we have different tests for each repo?  For instance, running `grunt test` in `sun` would run sun tests and its dependencies.  Or do we want a more "one size fits all" approach?

[2018-10-11 19:31] jessegreenberg commented on #52
@jonathanolson asks if we should subset tests or if we should order so we can quit tests early. @samreid said that since Bayes CT is already testing in full, this could be a subset so that we don't interfere with other developers when making common code changes. We could have a short list of sims to test that could be updated regularly. Maybe these sims are ones that are nearing publication.

@sam

[2018-10-11 19:35] jessegreenberg commented on #52
@ariel-phet said @samreid could continue working on this for another day because this seems generally useful for the project.

[2018-10-12 01:07] zepumph commented on #52
Feature request: If you do end up integrating it with grunt, a cool option could be to pass in the sim you were mainly work on, then it will test everything on that, while still doing the other tests in whatever smart "pick and choose" way we decide is best. If you omit the option, it just does the pick/choose "random" stuff anyways.

[2018-10-12 13:40] samreid commented on #52
This may be too complicated, but if you run `grunt tests` in a repo, it could test that repo and all the downstream dependencies.  For instance, if you run `grunt tests` in a sim repo, it would only run that sim's tests & fuzzing.  Likewise, if you run `grunt tests` in sun, it would test all sims that use sun, but it wouldn't test scenery (since that is upstream of sun).  This seems kind of opposi

[2018-10-17 18:13] KatieWoe opened #54 "Most tests undone"
If you uncollapse the tests in CT you'll see that almost all test are consistently not being done.  So the chart looks light green consistently, but under the hood very few tests are done. 12:00pm Oct 17.

[2018-10-18 00:32] jonathanolson commented on #54
This is the second time in a row that fuzzing protein-synthesis (normal fuzzing) has crashed the last test (and may be causing the stall-out).

I've added some additional logic so that the Chrome processes will get restarted every X hours (somewhat staggered, but between 11 and 19 hours), so that we don't run into this situation in the future.

[2018-10-18 00:32] jonathanolson commented on #54
Let's see if this stays stable for a few days (then can close).

[2018-10-18 14:34] KatieWoe commented on #54
@jonathanolson results still look pretty sparse this morning.

[2018-10-18 16:17] pixelzoom commented on #54
Just out of curiosity... Any idea how/why?

[2018-10-18 16:31] pixelzoom commented on #54
protein-synthesis has a massive memory leak. After < 3 minutes of fuzz testing, the heap snapshot is 790MB.

[2018-10-18 16:40] samreid commented on #54
I set runnable to false in protein synthesis in https://github.com/phetsims/protein-synthesis/commit/a02d7e540e1f38775e2bf4e6c16d23bc0d22a68f, hopefully this resolves the problem.

[2018-10-18 16:52] jonathanolson commented on #54
Restarted CT and Chrome processes.

[2018-10-19 15:42] samreid commented on #54
There were a few dark green columns last night, is this issue resolved?

[2018-10-19 15:45] KatieWoe commented on #54
Looks like for the most part @samreid.  I think the tests are being done a bit slower than they used to, but they are being done.

[2018-10-24 23:38] jonathanolson commented on #54
It now seems like tests are still a bit slow, but are moving along. There are some memory leaks in some of the fractions code that may also be contributing, which I will have fixed up soon.

Should we keep this issue open?

[2018-10-26 14:44] KatieWoe commented on #54
May have reoccurred 10-26-2018.  CT did not complete tests the night before, despite a few hours to do so.  Assigning to @jonathanolson to reassign as appropriate.

[2018-10-26 15:02] jonathanolson commented on #54
Looks like things might be crashing due to running out of memory. Not sure if it's process-specific, or if the whole system is memory constrained.

It's basically down to running 1 test a minute, which is quite slow.

[2018-10-26 15:03] jonathanolson commented on #54
Looks like individual tests might be running out of memory, crashing the browser processes and stalling things.

[2018-10-26 15:10] samreid commented on #54
How often is the chrome process restarted during testing?  Would it help to regularly restart the chrome process after N tests?

[2018-10-27 00:03] jonathanolson opened #55 "Show test information in continuous-loop.html"
Should help with things like https://github.com/phetsims/john-travoltage/issues/321 where I can't tell what test is being run.

[2018-11-01 03:33] jonathanolson commented on #54
I'm now restarting them in a range from 1 to 9 hours (so they don't all restart at once and create testing gaps ideally).

We're not using something like puppeteer, so I can't see what is being done with tests to decide when to restart.

[2018-11-01 05:51] jonathanolson commented on #55
Implemented.

[2018-11-01 05:51] #55 closed

[2018-11-01 05:52] jonathanolson commented on #54
I've also added test information to the page and title (of the browser tab doing the testing) so hopefully I can identify what tests are stalling things on the testing client (see https://github.com/phetsims/aqua/issues/55)

[2018-11-01 05:59] jonathanolson commented on #54
I'm running 4 local test loops, I'll see if any crash and I can get more information.

[2018-11-01 08:31] jonathanolson commented on #54
2 of the 4 have crashed on `unit-rates : fuzz : require.js-canvas` so far. Other two are running.

[2018-11-07 19:05] pixelzoom opened #56 "duplicated message string"
Noted while investigating https://github.com/phetsims/trig-tour/issues/91.

There's a duplicated message in sim-tests.js, introduced by @jonathanolson in https://github.com/phetsims/aqua/commit/b9cea5d6fac6a24b485ee9668abc48cba9ac0700.

[code]

[2018-11-20 16:35] samreid opened #57 "Tests look like they pass, but turn salmon instead of green."
I'm seeing this locally (left) as well as on phettest (right)

![image](https://user-images.githubusercontent.com/679486/48788222-964b2200-eca7-11e8-9dae-69bbca073ff9.png)

@jbphet is testing as well.

[2018-11-20 16:37] samreid commented on #57
@jbphet reported similar findings:

[2018-11-20 21:21] jessegreenberg commented on #57
I think this is fixed after https://github.com/phetsims/tasks/issues/958. @samreid can you please confirm?

[2018-11-20 21:22] samreid commented on #57
It's fixed now, thanks @jessegreenberg, closing.

[2018-11-20 21:22] #57 closed

[2018-11-28 16:00] jonathanolson commented on #54
@KatieWoe how has testing been lately?

[2018-11-28 16:22] KatieWoe commented on #54
Its been much better than when the issue was made.  More tests are still missed than there used to be, but I think it tends to be acceptable.  Less room for error though.

[2018-12-01 05:35] samreid commented on #52
After the preceding commits we have:
1. A pruned list of unit tests (omit ones that take too long)
2. One randomly selected fuzz test
3. A script that subdivides the unit tests across multiple processes
4. Timing so that unit testing and one fuzz complete in about the same time as `lint-everything`

I've set this up to automatically run on every commit.  Putting issue on hold while I use this in p

[2018-12-02 02:37] samreid commented on #53
I tried fuzzing `NumberProperties` with `range` as well as `Properties` with `validValues` and ran into numerous false positives where the properties were put into invalid combinations.  Here's my patch in case we decide to pursue it further:

[code]

But based on this experience, my recommendation is to not investigate this further at this time.

[2018-12-02 02:37] #53 closed

[2018-12-04 19:58] zepumph commented on #52
Could you please provide basic steps to run this. I tried the following and nothing worked:

1. `cd aqua; ./scripts/auto-tests-local.sh` --> `Error: Cannot find module 'puppeteer'`
2.  `cd aqua/scripts; ./auto-tests-local.sh` --> `Error: Cannot find module 'C:\Users\Michael\PhET\git\aqua\scripts\js\local\test.js'`
3. `cd friction; ../aqua/scripts/auto-tests-local.sh --> `Error: Cannot find module

[2018-12-04 21:07] samreid commented on #52
In the preceding commit, I added puppeteer to aqua package.json, it will need `npm install`. Then your step (1) is worth a try, but I haven't tested it on windows at all.

To run all unit tests, you can use:
[code]
To run a fuzz test (randomly picks one sim at the moment), you can use:
[code]

Sorry for the wonky syntax--working on something amenable to parallelization.

[2018-12-07 04:38] samreid opened #58 "Make it possible (opt-in) to play a sound when an error occurs in local testing"
To help avoid errors sneaking by in local testing, it may help to play a sound effect or audio clip when an error occurs.  Some unix-based systems have a built-in "say" command that may make this very easy.  I'd like to try this out to see how it goes.  If it works nicely, we can consider something that would also work on windows.

This will default to off, and be opt-in only.

[2018-12-08 22:32] samreid commented on #58
I posted in slack developer channel on Thursday

Sam Reid [9:40 PM]
I’m going to investigate playing a sound when there is a lint failure or puppeteer unit test/fuzz test failure.  I’m intending this to be opt-in only (and initial support only for systems with `say`), but please report if it causes any problems for you.

Details are here: https://github.com/phetsims/aqua/issues/58

It's been worki

[2018-12-08 22:32] #58 closed

[2018-12-11 15:08] samreid opened #59 "How did example-sim exceed the memory limit?"
This occurred on Bayes CT:

[code]

I built an example-sim locally and am running accessibility with fuzzBoard.  Memory is around 13MB after a minute.

Is CT able to clear prior memory before starting a new sim, or can a prior memory issue leak across to a subsequent test?

[2018-12-11 16:01] jonathanolson commented on #59
It's hypothetically possible for it to not clear memory for a while after it's switched sims (but didn't happen so far in my testing). It generally GC'ed within a few seconds of switching to a new sim, so the moving average AND current memory constraint generally prevented this type of thing.

[2018-12-11 16:12] samreid commented on #59
Good to know!  Let's plan to see some false positives in the memory reports on CT and take care to reproduce reported memory issues.  Closing.

[2018-12-11 16:12] #59 closed

[2018-12-15 01:29] zepumph opened #60 "restart CT"
aqua needs to be pulled because of https://github.com/phetsims/tasks/issues/972#issuecomment-447521519. We added a package.json to aqua, but I don't think ct can pull aqua while it is running. Lint-everything will most likely fail until this is done.

[2018-12-15 01:30] zepumph commented on #60
tagging @samreid and @jonathanolson. I haven't done this before, but I'll take a stab.

[2018-12-15 02:38] zepumph commented on #60
I was successfully able to restart ct. I have not yet seen if lint-everything is fixed. Closing

[2018-12-15 02:38] #60 closed

[2018-12-27 14:29] samreid opened #62 "Why doesn't Balloons and Static Electricity unit test fail show on Bayes CT?"
The issue here https://github.com/phetsims/balloons-and-static-electricity/issues/438 has been problematic for a while, but I don't recall ever seeing it on Bayes CT, even though continuous-server.js does list `balloons-and-static-electricity` as one of its unit test repos.

[2018-12-27 18:19] jessegreenberg commented on #62
I was wondering if any sim unit tests are currently being run on CT and found that they are for CCK common
[code]

[2018-12-28 18:05] pixelzoom opened #63 "include instructions on how to restart CT when aqua has been changed"
https://github.com/phetsims/aqua/blob/master/doc/continuous-testing-management.md says “The server, when running, will be continually pulling every repository (with the exception of aqua itself, which it will leave on the same SHA, so that it doesn’t automatically start running new continuous server code).”  But there are no details on how/where to pull aqua on bayes.

This came up recently when a

[2018-12-28 18:09] samreid commented on #63
I think it would be something like:

1. Log in to bayes.colorado.edu as phet-admin, requires VPN.
2. cd `/data/share/phet/continuous-testing/aqua`
3. `pm2 stop continuous-server`
4. `git pull`
5. `pm2 start continuous-server`

I'll give it a try!

[2018-12-28 18:12] samreid commented on #63
Those instructions seemed to work, I'll copy them to continuous-testing-management.md and leave this assigned to @jonathanolson to double check.

[2019-01-03 03:09] jonathanolson commented on #63
Yup looks good, thanks!

[2019-01-03 03:09] #63 closed

[2019-01-03 15:34] jessegreenberg commented on #62
I don't know what might have changed, but confirmed they are running on CT now. Closing, will reopen if this shows up again.

[2019-01-03 15:34] #62 closed

[2019-01-17 05:44] pixelzoom opened #64 "CT handling of stringTest=xss"
Over in https://github.com/phetsims/projectile-motion/issues/171, CT failures were noted with header "projectile-motion : xss-fuzz : run".   I assume that this means something like `?ea&stringTest=xss&fuzz`.  And in fact I was only able to reproduce these failures with `?ea&stringTest=xss`.

From the [code-review check](https://github.com/phetsims/phet-info/blob/master/checklists/code_review_check

[2019-01-17 05:49] pixelzoom commented on #64
(1) yes, in continuous-server.js "xss-fuzz" uses query parameters `brand=phet&ea&fuzz&stringTest=xss&memoryLimit=1000`.

[2019-01-17 05:51] pixelzoom opened #65 "add query parameter to CT output"
When an error is detected, CT labels its output like this:

[code]

In order to reproduce this, I have to take the test name ("xss-fuzz") and search for it in continuous-server.js to find what query parameters were used.    Would it be possible to print the query parameters in the CT output?  E.g. the above could look like:

[code]

[2019-01-17 16:32] jonathanolson commented on #64
Sometimes having the sim show certain screens/scenes/situation may trigger XSS failures, so there is a very slight advantage to do this (but may not be worth the additional time)

We can always update guidelines, but it would be nice to fix things so errors don't come up if possible (or we'd want to find a way to suppress things in the CT reports).

What would you recommend?

[2019-01-17 17:16] jonathanolson commented on #65
Added output of query parameters for sim runs, waiting to make sure it works nicely.

[2019-01-17 17:55] jonathanolson commented on #65
Query parameters are now shown, e.g.:
[code]

Does that look good?

[2019-01-17 19:58] pixelzoom commented on #65
Looks great. I wasn't sure if this was deployed, so back to @jonathanolson.

[2019-01-23 04:21] samreid opened #67 "Consider automatically testing reset all"
Inspired by https://github.com/phetsims/wave-interference/issues/321#issuecomment-456526128.  We could do the following:

1. launch a simulations with ?screens=1 or higher
2. capture screenshot
3. fuzz 20 seconds
4. search scene graph to find ResetAllButton, assert there is one result
5. trigger the reset all button
6. capture screenshot
7. assert screenshots match exactly.

This could catch cases

[2019-03-26 00:00] pixelzoom commented on #18
This happened again this past weekend and took probably 2 person-hours to figure out what was going on.  If CT can't check out the repo on its own, it should be robust enough to at least continue without crashing.

[2019-03-26 00:03] pixelzoom commented on #49
This happened today with acid-base-solutions, see https://github.com/phetsims/acid-base-solutions/issues/157.   Thank you @phet-steele or I would have wasted more time than I did on this.  He chimed in on Slack:

So I'm going to retitle this issue, and label it for dev meeting so that we can understand how significant this "race condition" is, and hopefully get it fixed.

[2019-03-26 00:09] pixelzoom commented on #49
@KatieWoe if you're not already aware of this weirdness in CT, FYI.

[2019-03-26 18:05] KatieWoe commented on #49
Thanks @pixelzoom.  I saw on slack so I know the gist of what's happening

[2019-03-28 04:27] samreid commented on #18
Flagging for dev meeting to discuss/prioritize/assign.

[2019-03-28 18:57] pixelzoom commented on #49
This happened again with one of my sims today.  A charges-and-fields problem was reported for function-builder-basics:

[code]

[2019-03-28 18:59] pixelzoom commented on #49
... and another one of my sims yesterday.  An energy-skate-park problem was reported for ph-scale-basics:

[code]

[2019-03-28 19:03] pixelzoom commented on #49
Slack:

Chris Malley [1:01 PM]
The “CT race condition” problem https://github.com/phetsims/aqua/issues/49 has hit my sims multiple times this week.  Prior to this, I’ve never seen it before.  Maybe I was just lucky, or maybe something has changed.  @jonathanolson has anything changed that might make this happen more frequently?

Jonathan Olson [1:02 PM]
Not sure, maybe bayes is overloaded a bit.

[2019-04-03 16:58] pixelzoom commented on #49
Restarting Chrome processes seems to have reduced the frequency of this problem, so lowering priority from 'top' to 'high'.

[2019-04-03 18:55] pixelzoom commented on #49
In a face-to-face conversation yesterday, @KatieWoe mentioned to me that this is impacting her ability to report CT issues. It's difficult to know whether an error is legitimate, whether to create an issue, and which repo to create the issue for.

[2019-04-04 02:10] samreid commented on #49
This happened in 4/3/2019, 7:35:48pm SHAs, charges and fields showed up in vibe.

[2019-04-04 04:14] samreid commented on #18
As documented in https://github.com/phetsims/wave-interference/issues/361#issuecomment-478270384, Bayes CT automatically picked up the new public waves-intro repo without requiring any effort.  @pixelzoom can you describe the problem from March 23?  Was it a private repo?

[2019-04-04 13:29] pixelzoom commented on #18
March 23 was apparently the problem that occurred when number-line-integers was added as a non-phetsims repo, and then added to active-repos.  So as far as CT was concerned, number-line-integers didn't exist.  From Slack dev-public 3/23/19:

All builds are currently failing because number-line-integers is in active-repos but is not actually a repo

[2019-04-04 15:38] jonathanolson commented on #18
So is the main problem that CT fails if something is put in active-repos which isn't a repo?

[2019-04-04 15:46] pixelzoom commented on #18
I'm guessing that the original problem was that CT failed if something in active-repos wasn't in its working copy.  Looks like that was fixed by adding a `git  clone` on 5/9/17 (!!) and is working.  But if the `git clone` fails because the repo doesn't exist, then CT fails.

[2019-04-04 18:31] jbphet commented on #18
In today's dev meeting, we decided to just update the new sim checklist to have the developer check that a new repo was created correctly by running `clone-missing-repos`.

[2019-04-04 18:33] pixelzoom commented on #18
Here's the modified line in [new_repo_checklist.md](https://github.com/phetsims/phet-info/blob/master/checklists/new_repo_checklist.md):

Closing.

[2019-04-04 18:33] #18 closed

[2019-04-11 17:36] jessegreenberg commented on #49
Just a thought I had, don't know if there is any merit... Some A11y related unit tests are using `await` and timeouts to test timing related features. Could this kind of thing interfere with CT reporting or reporting to the wrong place?

[2019-04-11 17:43] jessegreenberg commented on #49
@jonathanolson said that QUnit has 400 seconds to finish tests and as long as tests finish before then we should be OK.

[2019-04-11 17:44] ariel-phet commented on #49
@samreid will spend 4-8 hours next week collaborating with @jonathanolson after he has done initial investigation.

Dev team is on board for making multiple node.js functionality live in perennial (and have aqua and yotta depend on perennial).

[2019-04-12 00:39] samreid commented on #49
From today's discussion:

[2019-04-16 20:06] jonathanolson opened #68 "Convert server-side CT to ES6+"
As briefly noted in https://github.com/phetsims/aqua/issues/49, this would make the code much cleaner (but is a moderate refactor, maybe a couple of hours).

We would leave the client code as-is right now, since we don't want to have to build/transpile it.

Currently at the top level in aqua/js, continuous-server.js is the only file that would need to change for this.

[2019-04-16 20:07] jonathanolson commented on #49
We added passing of the test information through to the individual test wrapper iframe, so that it can be passed back and included as the source of the pass/fail report. This should prevent the anticipated race condition.

We'll plan to wait and inspect continuous testing in a few days.

[2019-04-16 20:20] samreid opened #69 "Make it possible to run CT locally"
During #49 @jonathanolson and I discussed some ideas for getting CT to run locally as opposed to being hard-coded to run on Bayes.

(a) Right now, a single snapshot with node_modules is >5GB, so is a significant hassle to check out and run one snapshot.
(b) Right now, the server runs 8 parallel processes for `buildLoop`, this would likely slow down or impede the developer's machine
(c) If we want

[2019-04-18 15:54] samreid commented on #49
De-escalating priority and unassigning while we evaluate whether the problem occurs again.

[2019-05-06 19:13] KatieWoe commented on #54
Been ok for some time, so closing if that's alright with you @jonathanolson

[2019-05-06 19:13] #54 closed

[2019-05-08 18:01] samreid opened #70 "Failure during startup shows as blank but should show as failed"
From https://github.com/phetsims/phet-io/issues/1455.  There is a failure during require.js startup, creating the singleton PhetioCommandProcessor.  This happens before `QUnit.test()` begins.  It would be great if this showed as a red "test failed", but it seems that it is instead just getting skipped.

[2019-05-08 22:41] KatieWoe opened #71 "Some tests uncompleted"
On 5/8/19 I noticed that Tandem, Axon, and Dot were not completing their tests, even when there was enough time for every other repo to finish.  This happened consistently at least twice.
![axon](https://user-images.githubusercontent.com/41024075/57413061-1874c780-71b0-11e9-807e-3cc3c62e2e27.png)
![dot](https://user-images.githubusercontent.com/41024075/57413066-1b6fb800-71b0-11e9-8cd7-6e1e55326aa

[2019-05-09 14:35] KatieWoe commented on #71
Looking on the morning of 5/9/19 it looks like they were able to complete.  Not sure what was different.  Feel free to close if you feel it is appropriate @jonathanolson

[2019-05-29 21:49] zepumph opened #72 "Add way to test only failed sims from local aqua fuzzing"

[2019-05-29 21:53] zepumph commented on #72
I will definitely use this, and it wasn't too complicated of a commit. Marking for dev meeting as a quick PSA.

[2019-06-03 04:56] samreid commented on #72
I used this feature today and it was just right, thanks!

[2019-06-06 19:08] jbphet commented on #72
This is a cool new feature, and the devs are most appreciative.

There have been some instances seen where only the first failed sim was tested.  @zepumph will investigate.

[2019-07-01 18:52] zepumph opened #73 "local fuzz test sims: make status boxes unselectable"
If the boxes are unselectable, then it becomes very easy to highlight sims within the test view, and format them with commas to then input into the `?testSims` QP.

[2019-07-01 18:53] #73 closed

[2019-07-15 17:23] pixelzoom opened #74 "add a CT option to show only failing sims"
Now that the number of HTML5 sims is large, consensus on Slack was that these features would be nice additions to CT:

- [ ] Add an option to show only failing sims (sims with a non-green box in their row).  This may or may not be the default view, depending on consensus.

- [ ] Add a query parameter to specify the default view on startup.

Assigning to @ariel-phet to prioritize and assign.

<deta

[2019-07-16 15:56] pixelzoom opened #75 "should rootRenderer=canvas test be removed from CT?"
In https://github.com/phetsims/vector-addition/issues/33, Vector Addition was experiencing a CT problem when run with `rootRenderer=canvas`.   Since Vector Addition doesn't require Canvas explicitly, I was wondering about the purpose of this test, which is apparently run for every sim.

@jonathanolson responded with:

So should this test be removed from CT?  We don't need to be running vestigial t

[2019-07-16 16:41] ariel-phet commented on #75
Seems worth removing (and should be easy to do). @jonathanolson mind removing this test?

[2019-07-16 17:03] jonathanolson commented on #75
Removed, closing.

[2019-07-16 17:03] #75 closed

[2019-07-16 17:14] pixelzoom commented on #74
When there are no sims with problems (all rows totally green), we'll have to decide what to show.  Some sort of fun "reward" graphic might be nice.

[2019-07-24 18:43] lmulhall-phet commented on #43
@jonathanolson @ariel-phet what's going on with this issue?

[2019-08-06 00:39] zepumph opened #76 "Fuzz test wrappers"
From https://github.com/phetsims/phet-io-wrapper-sonification/issues/84 and other discussions while creating tests for PhET-iO wrappers, it would be nice to have a list of wrappers and have the sim fuzz in all of them via local aqua tests and on CT.

I'm thinking that each sim's list of testable wrappers would be the list of wrapper suite wrappers (`chipper/data/wrappers`) as well as the supplemen

[2019-08-21 16:54] samreid commented on #76
We discussed this today.  As we are moving toward publishing and sharing more dev versions, we would like more confidence that things are working smoothly without having to rely on the QA team so heavily.  We decided to increase the priority.

[2019-09-09 15:02] samreid commented on #67
I don't think I'll have time to work on this in the near future unless it is prioritized differently.  I'll run it past @ariel-phet to see what he thinks.  Any other developer could work on this as well.  Maybe consult with QA to see how much effort this is worth, I know it would have caught at least one problem the QA team identified in the last few months.

[2019-09-10 05:23] samreid commented on #52
Not planning more development on this at the moment, but we should revisit it when we spend more time on automated testing.  Self-unassigning for now.

[2019-09-10 16:09] ariel-phet commented on #67
@samreid I think this work can be deferred. Testing the reset is very much a staple of QA testing, and it seems like there are some edge cases (especially randomly seeded games and such) where this might run into issues. I would think it would be a fair bit of effort to get working properly, so marking as deferred.

[2019-10-08 21:58] zepumph opened #77 "Add a local script to test on a puppeteer instance"
After discussing with @jonathanolson, I was interested in how CT can have tests run by any device that points to the continuous-loop html page. So to explore I made a local puppeteer script that runs it.

[2019-10-08 22:01] zepumph commented on #77
I'm not sure how useful this will be, but I could see it being used by any system with aqua checked out and npm installed.

[2019-10-08 22:01] #77 closed

[2019-11-05 03:00] samreid opened #78 "CCK common unit tests with ?ea aren't running"
I was surprised to see that unit tests were failing on my local copy but not on CT.  I checked and my copy had assertions and CT did not, which accounted for the difference.  However, aqua shows that all unit tests are supposed to run with and without assertions:

[code]

CT is showing this:
![image](https://user-images.githubusercontent.com/679486/68175181-9afef980-ff3d-11e9-9b2a-1c303fac330a.png

[2019-11-10 21:24] pixelzoom opened #79 "random "above our memoryLimit" errors appearing in CT"
CT errors like this seem to be popping up randomly:

[code]
<br>

I recall that we had a problem with this error being erroneously (and seemingly randomly) being associated with sims, but I thought that was addressed. Having to inspect these repeatedly is a little annoying -  in the current CT history, there are no fewer than 6 sims that are identified as exceeding memory limits, and I don't belie

[2019-11-10 21:27] pixelzoom commented on #79
I said:

This is the fix that I was thinking of, applied by @jonathanolson: https://github.com/phetsims/aqua/commit/215f25c9f1938cc0da7810a8de54e4fc86bdf372

[2019-11-10 21:29] pixelzoom commented on #65
@jonathanolson hasn't replied, and it looks like this is the case in CT. So I'm just going to close this issue.

[2019-11-10 21:30] #65 closed

[2019-11-10 21:31] pixelzoom commented on #14
@samreid can this issue be closed?

[2019-11-10 21:32] pixelzoom commented on #14
@samreid can this issue be closed? It seems somewhat ancient and irrelevant now.

[2019-11-10 21:34] pixelzoom commented on #15
This issue is ancient, and appears to describe CT, which we've been using for quite awhile.  So I'm going to go ahead and close it.  @jonathanolson if you disagree, feel free to reopen and describe what work still needs to be done.

[2019-11-10 21:34] #15 closed

[2019-11-10 21:36] pixelzoom commented on #16
@samreid do you know what the status of this issue is? Is there repos where we should be using QUnit and are not? Can we create repo-specific issues for those?

[2019-11-11 12:57] samreid commented on #14
I've also seen red with no explanation when tabbing away then tabbing back, but knowing about this limitation, I haven't had any other problems with this.  Closing.

[2019-11-11 12:57] #14 closed

[2019-11-11 13:00] samreid commented on #16
In discussions with @zepumph regarding PhET-iO automated testing, I recall we were considering running two types of tests, fuzzes and qunit tests, and not trying to embed the fuzzes in qunit harnesses.  @zepumph is that your recollection as well?

[2019-11-11 18:26] zepumph commented on #16
Yes, over in https://github.com/phetsims/aqua/issues/76 we want to pull wrapper fuzzing out of QUnit, and put them into a "test-sim" like architecture. I'd say this issue is likely out of date and not the best direction anymore, especially noting the concerns that @jonathanolson mentioned above. Should we close this @samreid?

[2019-11-11 18:31] samreid commented on #16
I think it warrants further discussion, I can see the advantage of leveraging QUnit for the test presentation & re-running failed tests (I know we implemented this separately in test-sims.html).

[2019-11-13 17:29] pixelzoom commented on #79
Slack developer channel:

Chris Malley 10:26 AM
Has anyone else noticed the annoying frequency of “above our memoryLimit” errors being reported by CT? They appear to be randomly associated with repos.  @jonathanolson is it possible that https://github.com/phetsims/aqua/issues/49 has resurfaced?

Sam Reid:house_with_garden: 10:27 AM
I’ve seen it several times lately, and have been honing my skills

[2019-11-19 17:13] ariel-phet commented on #79
@jonathanolson is not sure if this is a memory leak in common code or one sim blowing memory, he will investigate for an hour or two to see if he can narrow down the issue.

[2019-12-28 17:10] samreid commented on #76
It doesn't feel like aqua is properly modularized to easily support this.  What if every repo had a single entry point HTML that ran all of the tests for that repo (or one entry point for requirejs and one for built)?  Or it could define its own testable entry points in package.json.  Then the logic in aqua would be:
* wait for stable shas
* iterate over every repo
* run its tests

And we wouldn't

[2019-12-28 20:02] samreid commented on #76
Also, this code should be running wrapper unit tests, such as state wrapper fuzz: https://github.com/phetsims/aqua/blob/0ac6849b7b7cc792da33ea14f26d0ce5d1910b2a/js/continuous-server.js#L702-L720

[2019-12-30 14:53] samreid commented on #16
It seems we need to have a larger discussion about how our tests are organized and run, there are also some notes in https://github.com/phetsims/aqua/issues/76#issuecomment-569433621.  But it seems like this issue can be unassigned for now, until it is higher priority or until we are working on aqua again.

[2019-12-31 16:27] samreid commented on #16
See also https://github.com/phetsims/phet-io-wrappers/issues/217 with some good reasons fuzz tests should not run in a qunit harness.

[2020-01-09 16:53] pixelzoom commented on #79
@ariel-phet FYI, I'm still spending a few minutes every day inspecting these false errors.

[2020-01-09 18:50] jonathanolson commented on #68
async/await for continuous-server.js would be helpful.

[2020-01-09 19:14] jonathanolson opened #81 "Local unit test improvements"
There are a few remaining TODOs remaining for auto-tests-local/unitTestBatch/etc. I'm not informed enough to make changes to those files.

[2020-01-23 01:49] samreid commented on #76
Note that in https://github.com/phetsims/phet-io-wrappers/issues/292 we dropped the ability to fuzz test studio as part of the qunit test.  It would be good to recover that test.

[2020-02-14 23:51] samreid opened #82 "Dialog appears below the table"
The dialog now appears below the table, this was likely broken in https://github.com/phetsims/aqua/commit/60549bfb115281365094012666610d070ac5405e

![image](https://user-images.githubusercontent.com/679486/74576915-2e3ac880-4f4a-11ea-8244-1441a28a1a12.png)

[2020-02-15 00:51] zepumph commented on #76
Today @samreid and I added wrapper fuzzing to continuous testing. We did this by adding postMessage callbacks within `Client.js`. Immediately this is helping out with errors. We have found https://github.com/phetsims/phet-io/issues/1620 and https://github.com/phetsims/studio/issues/100 and https://github.com/phetsims/studio/issues/101 reporting in CT.

[2020-02-15 13:13] samreid commented on #82
Fixed and verified, closing.

[2020-02-15 13:13] #82 closed

[2020-02-16 19:43] samreid opened #83 ""Rerun failed sims" is duplicating"
![image](https://user-images.githubusercontent.com/679486/74611520-f6529300-50b9-11ea-81e9-df0cb0552824.png)

"Rerun failed sims" is duplicating

[2020-02-17 18:00] zepumph commented on #83
Thanks! I'll take a look.

[2020-02-17 18:07] zepumph commented on #83
I fixed it and tested locally. Please close if you are happy with it.

[2020-02-17 19:05] zepumph commented on #76
@samreid I think that https://github.com/phetsims/phet-io-wrappers/commit/53953f910a6a530c01e50b0bb447fb6a5183d2c6 will fix many CT errors that look like `phetioID not found` in studio. Please review.

[2020-02-17 23:34] samreid commented on #83
In one test on my side, it seemed like it reported the wrong one.  But the second test looked great!  Maybe I did something wrong for that first test, or read it wrong.  Closing.

[2020-02-17 23:34] #83 closed

[2020-02-18 22:28] samreid commented on #76
The change seems appropriate, thanks!

[2020-02-24 20:06] pixelzoom opened #84 "Add the test 'url' field to CT output (and potential other enhancements)"
Please add the test `url` field to CT output.

For example, over in https://github.com/phetsims/gas-properties/issues/177, the output is:

[code]

This doesn't give me enough info to reproduce the problem or test changes.  `phet-io-state-fuzz` is cryptic -- it doesn't tell me what was run,  what query parameters were used, etc.   You have to go search for the test info in continuos-server.js, in t

[2020-02-24 20:06] pixelzoom commented on #84
@samreid said on Slack:

[2020-02-24 20:08] pixelzoom commented on #84
That would be nice.  But I'd settle for just knowing what was run, with which query parameters, without having to search continuos-server.js.

[2020-02-25 03:32] ariel-phet commented on #84
Might be good to discuss #74 concurrently. However, marking medium priority as work on this (and potentially other CT improvements) would be best to be done after the ES6 migration, so plan to discuss on March 5 2020

[2020-02-25 16:03] pixelzoom opened #85 "CT interaction is flakey on Safari"
CT has the following interaction problems on Safari.  As of this writing, I'm using macOS 10.15.3 + Safari 13.0.5 (15608.5.11).  But they've been problems for as long as I can remember.  I just finally got frustrated enough to report them.

* Clicking on a yellow/red cell in the grid does not reliably open the details popup.  It often takes several clicks.  When this occurs, there's usually no han

[2020-02-25 18:27] ariel-phet commented on #84
Adding #85 as possibly worth discussing as well

[2020-02-25 18:33] ariel-phet commented on #85
Will plan to discuss when #84 gets discussed. It seems like after ES6 migration we should dedicate a bit of time to some CT enhancements

[2020-03-05 19:54] pixelzoom commented on #84
3/5/20 dev meeting:

I'll do this with @jonathanolson's help.

[2020-03-06 01:06] zepumph commented on #80
Over in https://github.com/phetsims/perennial/issues/153 we decided it would be really nice to have IE testing built sims on CT. Pinging here for potential priority boost!

[2020-03-06 21:17] samreid commented on #76
I think this issue is complete and can be closed.  Problems identified in the wrapper fuzzing will be opened in new issues.  @zepumph what say you?

[2020-03-10 17:02] pixelzoom opened #86 "documentation issues in continuous-server.js"
I was trying to make changes to continuous-server.js for #84. I ran into problems with some missing documentation, so I did a general review.  Overall the doc is good, but there are some things missing.  @jonathanolson please address these documentation issues:

- [ ] Missing `@param` doc for `testLintEverything`:

[code]

- [ ] No doc for `copyReposToSnapshot`:

[code]

- [ ] It would be helpful

[2020-03-10 17:30] pixelzoom commented on #84
I spent ~30 minutes on this and can't make heads or tails of where or how to add URL (or any other field, for that matter).  After consulting with @jonathanolson, he volunteered to handle this - thanks!

[2020-03-10 18:02] jonathanolson commented on #84
Noted on Slack that the changes should be applied. Just waiting for the next snapshot to verify.

[2020-03-10 21:55] samreid opened #87 "Add a tool to facilitate comparative testing"
From https://github.com/phetsims/phet-io-wrappers/issues/337

Inspired by https://github.com/phetsims/gravity-and-orbits/issues/308, we would like to be able to test when a pure refactor has the same behavior as the previous version.  Scenery has a similar feature, but if I recall correctly, it stores to disk and is non-interactive.

This version will run two versions from separate checkouts, and

[2020-03-10 21:56] samreid commented on #87
This patch allowed me to pixel compare two live simulations interactively:
https://github.com/phetsims/phet-io-wrappers/issues/337#issuecomment-597037791

There are some disadvantages, and I didn't commit.

* Other source is hardcoded to port 8080, rest of the path required to be the same
* Nontrivial changes to `handlePlaybackEvent`.
* I tried to make it synchronous on every frame, but that was t

[2020-03-10 21:56] samreid commented on #87
It would be great to be able to run this on production versions and non-phet-io versions. I'll move this to aqua.

UPDATE: phet-io-wrappers is private and hence cannot move issues to a public repo.  I copied things manually.

[2020-03-11 01:42] samreid commented on #87
This is working well, I compared master of gravity and orbits to the published version.  I'd like to run this past @jonathanolson to see if he has ideas or recommendations, then it would be nice to share with the dev team.

[2020-03-11 12:23] samreid commented on #87
Questions to discuss with @jonathanolson:

* How can we keep the clocks synchronized?
* Can/should the QA team be able to use this tool?  If so, how would they set up for it?
* Any ideas for improvements?

[2020-03-11 13:59] samreid commented on #78
This looks like it has been working lately:

![image](https://user-images.githubusercontent.com/679486/76424773-4990cc00-636e-11ea-89fb-1a331af6c7c5.png)

Closing.

[2020-03-11 13:59] #78 closed

[2020-03-11 15:34] samreid commented on #87
Notes from discussion with @jonathanolson.

* Use playbackMode=true, so it doesn't run its own step
* use same seed
* step frame like

[code]

* for future, could add postMessage pattern to make it work with different origins.  But then we would lose synchronous.
* Could add a "launcher" page where you put in the URLs.  Doesn't need to be human readable.
* Could display them in the page.
* Could a

[2020-03-12 15:50] jonathanolson commented on #84
This looks like it's working, closing!

[2020-03-12 15:50] #84 closed

[2020-03-12 15:56] pixelzoom commented on #84
Excellent, thanks @jonathanolson. This is already saving me time.

[2020-03-16 18:03] zepumph commented on #76
Right now we are individually fuzzing studio, state, and mirror inputs wrappers. Are there any others that we would like to add? If not please close.

[2020-03-16 18:05] samreid commented on #76
That seems great, thanks!  Closing.

[2020-03-16 18:05] #76 closed

[2020-03-20 19:34] pixelzoom opened #88 "time to load and update CT is excessive"
On Slack, multiple people have reported that CT takes a long time to load.   @samreid reports 1.5 min to load, and it's taking me as much as 5 minutes.

@jonathanolson explained:

Slack discussion on dev-public channel:

Should we start pruning on a regular basis, like only keep the last N sets of results?

Or make the json more sparse?

Some approach that doesn’t allow the payload to just continu

[2020-03-20 20:43] zepumph commented on #80
Another ping here because of https://github.com/phetsims/energy-forms-and-changes/issues/320. It would be really nice if we could know when changes break IE well before we get to the QA process. Adding to developer meeting to see how feasible adding IE to CT would be.

[2020-03-23 18:06] ariel-phet commented on #88
@jonathanolson said there were potentially some straightforward improvements that should be able to be made.

He will work on this for about half a day and if her runs into complications he and myself will re-discuss timing and priority.

Marking high priority currently.

[2020-03-24 18:33] jonathanolson commented on #88
After some work, I think the restructuring of data and processing is significant enough (it's coupled) where it would be worth deciding on whether the current output of CT is ideal, or if we should change it.

@ariel-phet and @KatieWoe, are things like the "un-collapsed" view, the percentage of "passed" tests and other things useful? Would we want any additional features? It may be worth a brief m

[2020-03-24 18:34] KatieWoe commented on #88
It is useful, as it lets me know if something is being consistently missed/unfinished, and if so, what that is.

[2020-03-24 18:54] ariel-phet commented on #88
@jonathanolson lets plan to discuss this topic at dev meeting - if we are doing some CT improvements, it would be good to get the entire team involved.

@KatieWoe we will plan to invite you to the zoom meeting when this issue comes up (currently dev meeting is still planned for Thursday, so plan to be available in the 12-1:30 time frame if possible)

[2020-03-26 19:02] jbphet commented on #88
Discussed in 3/26/2020 dev meeting, here is our "wish list":

Top items identified through Google doc brainstorm and vote process:
+ Run faster (and therefore complete more tests) (KW, JG)
+ Have greater granularity of what should be supported, e.g. does this sim include support for phet-io state?  If not, don’t test that aspect, so that we don’t have “false failures”.  It should be possible to up

[2020-03-26 19:06] samreid commented on #87
I shared this with the team at status meeting a few weeks ago, so the team is roughly aware of it.  I don't plan to work on it at the moment, but will add improvements as necessary as I used it in the future.

[2020-03-31 17:23] pixelzoom commented on #88
To the bullet list about, let's add "robustness".   If there's a problem, CT has a tendency to fail hard.  For example, here's what I went through this morning:

CT was crashing when I visited https://bayes.colorado.edu/continuous-testing/aqua/html/continuous-report.html.  The error in the console was:

    at JSON.parse (<anonymous>)
    at XMLHttpRequest.req.onload (continuous-report.js:301)

St

[2020-04-09 18:11] jonathanolson commented on #88
[code]

[2020-04-09 18:17] jonathanolson commented on #88
I'll plan to make the above server changes, and will talk with @KatieWoe and interested parties about the UI in a design meeting.

[2020-04-15 17:45] ariel-phet commented on #37
This is now a bit of a duplicate of #88 - closing.

[2020-04-15 17:45] #37 closed

[2020-04-27 18:56] jonathanolson commented on #29
Should be done, referencing the generated perennial/data/unit-tests, which is generated from the `phet.generatedUnitTests` in package.json. The other work was done previously, and updated docs above.

[2020-04-27 18:56] #29 closed

[2020-04-29 21:30] zepumph opened #89 "Unit tests won't run on old shas"
While working on https://github.com/phetsims/phet-io/issues/1648, @samreid @chrisklus and I discovered that our unit tests use a preload from aqua, but aqua isn't in our dependencies.json. This means that checking out old builds potentially won't be able to run unit tests (if master isn't backward compatible to the `-tests.html` file in the checked out repo.

Is this something to fix? Assigning to

[2020-04-29 21:30] zepumph commented on #89
Tagging @jonathanolson to see if he has any thoughts on this topic.

[2020-04-30 00:43] zepumph commented on #89
I think it is probably best for @jonathanolson to comment before priority is mentioned. I don't know of any processes that are trying to run unit tests on old shas. That said it feels backwards and incomplete.

The issue comes down to `aqua` not being in any dependencies.json files, yet `*-tests.html` try to access files from `aqua`. This means that if those files are no longer on master, but are

[2020-04-30 03:23] jonathanolson commented on #89
I don't think it will necessarily cause any issues, however this seems nice to fix. At least moving forward, we should have this fixed, and ideally I'd like to do a maintenance fix for release branches (it doesn't change things about the published versions, but at least adding in either aqua SHAs OR patching them to work without aqua seems acceptable.

I have a preference for moving the file OUT o

[2020-04-30 03:25] samreid commented on #89
One reason this came up today, is that we wanted to add another aqua-style dependency, please see aqua/js/qunitStart.js.  It seemed reasonable to us that it would live in aqua, but we also considered putting it in another repo that is more simulation-ish. (perhaps chipper or joist? or a new sim-oriented test repo?)

[2020-04-30 19:22] Denz1994 commented on #88
From dev meeting on 04/30/20:

@jonathanolson is making improvements. No need for dev meeting.

[2020-04-30 19:33] zepumph commented on #89
I just linked an issue that came up because CT isn't pulling aqua for CT. My vote is to move qunitStart.js and qunit-connector to chipper, and update test files accordingly.

[2020-04-30 22:04] zepumph commented on #89
I ended up moving these files to `chipper/js/sim-tests/`. I wanted to add `qunitStart` to another qunit test file as part of https://github.com/phetsims/axon/issues/276, and this was in part blocking because of how this causes https://github.com/phetsims/tandem/issues/181

Note that I copied history from aqua to chipper for `qunit-connector.js`. Then moved it to `sim-tests/`. It worked very well!

[2020-05-01 15:35] samreid opened #90 "Run qunit tests as a pre-commit hook"
In https://github.com/phetsims/chipper/issues/921 we streamlined the usage of linting as a pre-commit hook, and it has been working extremely well.  I recommend we also add unit tests as a precommit hook.

This was inspired by conversations in https://github.com/phetsims/phet-io/issues/1648 about how we can automatically test phet-io specifications.

[2020-05-01 16:04] pixelzoom opened #91 "add custom tests to CT"
Add the ability to specify custom tests for a repository.  If this ability is already present in CT, then add documentation about how to add custom tests.

The most immediate need for this is in testing query parameters.  Common-code and sims have features that are only enabled by specifying sim-specific query parameters.   And those features are not currently being exercised by CT.

Examples of p

[2020-05-01 16:15] samreid commented on #90
I committed a first draft for a script that can be used to automatically run unit tests as a precommit hook.  Testing the timing to see if it is fast enough to be used for every commit:

[code]

[2020-05-01 16:46] samreid commented on #90
If we move forward with this, here is the commit hook file that we could use.  If linting fails, it doesn't run unit tests:

[code]

[2020-05-01 16:51] samreid commented on #90
@pixelzoom can you please take a look and recommend whether we should adopt this qunit test phase for phet-info/git-template-dir/hooks/pre-commit ?

[2020-05-01 17:12] jonathanolson commented on #89
The more I think about it, the more I'd like to consider waiting on maintenance unless it's needed (due to the required changes). Thoughts?

Chipper also seems like the best place to me.

[2020-05-01 17:14] pixelzoom commented on #90
How long does qunit-main.js take to complete?  If it's significantly longer than lint-main.js, then perhaps it should be done in pre-push instead of pre-commit.

[2020-05-01 17:17] jonathanolson commented on #89
Also, we'll want to handle pageload-connector.js similarly (chipper home sounds good). It doesn't sound like it fits in the sim-tests directory, should we consider renaming it to fit a wider scope, or place it elsewhere?

[2020-05-01 18:03] samreid commented on #90
I reported timing in https://github.com/phetsims/aqua/issues/90#issuecomment-622453276

[2020-05-01 18:24] zepumph commented on #88
@jonathanolson, to make CT display faster, have you thought about only loading the first row, and then async loading older rows after first draw?

[2020-05-01 18:26] pixelzoom commented on #90
I wasn't clear on whether the timing  you reported in https://github.com/phetsims/aqua/issues/90#issuecomment-622453276 was for qunit-main.js or the entire pre-commit hook (lint-main.js +_ qunit-main.js).  Assume that the timing is for the pre-commit hook.... I guess I don't mind waiting up to 1 second on each commit.  But you might want to run this past other developers. If there's push back, the

[2020-05-01 18:34] pixelzoom commented on #90
Doing this in a git hook raises another issue...  Is everyone using git hooks? (I suspect not.) Should they be?

[2020-05-01 19:39] zepumph commented on #89
How about something like `qunit/`? Or "test-scaffolding"

[2020-05-04 18:36] ariel-phet commented on #91
@jonathanolson could you give me an estimate of what sort of effort this would take (for instance if this ability already exists seems like documentation would be quick) and then reassign to me.

[2020-05-04 18:44] jonathanolson commented on #91
This is possible to add to https://github.com/phetsims/perennial/blob/master/js/listContinuousTests.js at the moment, providing sim query parameters, etc.

For example:
[code]

I haven't added exhaustive documentation about what is supported yet (would need to rely on examples in that file).

[2020-05-04 21:46] ariel-phet commented on #91
@pixelzoom will going off the examples above serve your purposes for now?

[2020-05-05 16:30] pixelzoom commented on #91
I could probably make this work for Natural Selection. But 3 things:

(1) I've identified a general problem: public-facing sim features that are hidden behind query parameters are not currently being tested.  Do we want to address that problem, so that PhET has better test coverage?  If the answer is "yes", then...

(2)  I don't think we want every developer editing listContinuousTests.js to add s

[2020-05-05 22:35] pixelzoom opened #92 "CT: what is the best default for Sort order?"
Slack discussion in dev-public channel:

CT's default Sort order is "Alphabetical", but I find myself always changing to "Importance".  Is this true for anyone else?  Should "Importance" be the default? If not, could we add a query parameter (`?sort=importance`) for specifying the sort order on startup? (edited)

I’ve used both, but do switch to Importance a lot. I’m 100% fine with that change, bu

[2020-05-05 22:38] KatieWoe commented on #92
I'm used to Alphabetical from old CT, so it hasn't impacted me, but I can see how importance may be more useful. Either way, letting people choose how it loads with a query parameter would be nice so that people could do what is most useful to them.

[2020-05-06 04:21] samreid commented on #90
The timing I reported is for the qunit tests only.

[2020-05-06 04:27] pixelzoom commented on #90
I missed `scenery: 0m11.024s` when I first looked at the timing.  Imo, that's too long to be done in the pre-commit. My vote would be to do it in pre-push.

[2020-05-06 04:28] samreid commented on #90
Have you experimented with pre-push hooks using the Webstorm push interface?  Does it respect the hooks and behave accordingly?

[2020-05-06 12:36] pixelzoom commented on #90
I have not experimented with WebStorm + pre-push hook.  I didn't find anything relevant in a Google search for "IntelliJ pre-push hook".

[2020-05-06 20:40] jonathanolson commented on #91
Definitely does not involve stopping/starting CT in any way. Just commit, and the next snapshot should have the test changes included.

I also don't agree that JSON would be helpful, it's been very helpful to use JS logic instead of cramming TONS of flags into package.json files.

[2020-05-06 21:08] pixelzoom commented on #91
Thanks for the clarification, I'll give it a try.

[2020-05-06 21:09] pixelzoom commented on #91
Still interested in a reply to this one:

[2020-05-07 01:35] pixelzoom commented on #90
In https://github.com/phetsims/aqua/issues/90#issuecomment-622508598, I said:

When I attempted to publish a dev version early this evening, I discovered:

(1) scenery lint is failing: SimpleDragHandler.js 22:8 error 'Pointer' is defined but never used

(2) sun unit tests are failing: Assertion failed: Cannot simultaneously specify enabledProperty and enabledPropertyOptions

So that establishes th

[2020-05-08 16:54] pixelzoom opened #93 "add lint support to aqua repo"
aqua (including CT) currently does not support `grunt lint`.

Assigning to @ariel-phet to prioritize and assign.

[2020-05-11 17:56] pixelzoom opened #94 "CT tests are still referred to as "require.js""
listContinuousTests.js contains the descriptions of tests that are run by CT.  There are a number of these that are still referred to as "require.js", meaning that they run in RequireJS mode.  After moving to ES6 modules, PhET changed the name of this mode to "unbuilt", and these test descriptions should be changed accordingly.

[2020-05-11 17:59] ariel-phet commented on #93
@jonathanolson said this issue should be fairly quick to handle.

[2020-05-11 18:07] jonathanolson commented on #93
I just went to aqua and ran `grunt lint` and it worked. Can you clarify how to reproduce an issue, or re-check?

[code]

[2020-05-11 18:08] jonathanolson commented on #93
Also, line 20 of aqua's Gruntfile is running chipper's Gruntfile, similar to how sims run chipper's Gruntfile (so I believe this should work nicely in the future with refactorings).

[2020-05-11 18:10] pixelzoom commented on #94
Confirmed with @jonathanolson via Slack Done in the above commit.  I'll leave this open for a few CT cycles.

[2020-05-11 18:32] pixelzoom commented on #91
In the above commit, I added sim-specific query parameter tests for beers-law-lab, gas-properties, natural-selection, and ph-scale.  Local tests with @jonathanolson showed that these were working, but I'll monitor CT.

[2020-05-11 18:34] ariel-phet commented on #91
Sounds like we will want to move to a general practice of adding these public facing query parameters to CT, and ideally coming up with a simple test for `?screens=` if possible. Marking for dev meeting to discuss/PSA

[2020-05-11 18:39] pixelzoom commented on #91
A few related things that should be discussed:

* Documentation of all query parameter in *QueryParameter.js files
* Use of the `public` field for public-facing query parameters
* Protocol for how CT knows which query parameters to test
* Add CT tests for other public-facing sim-specific query parameters
* Add CT tests for public-facing common-code query parameters

[2020-05-11 21:29] pixelzoom commented on #94
CT looking good, closing.

[2020-05-11 21:29] #94 closed

[2020-05-11 21:30] pixelzoom commented on #93
Mea culpa, I must've been running `grunt lint` somewhere else.  Closing.

[2020-05-11 21:30] #93 closed

[2020-05-14 19:06] pixelzoom commented on #91
@pixelzoom will add items to CRC:
* add `public` for public-facing query parameters
* add CT tests for public-facing query parameters

We'll use `public` going forward in *QueryParameters.js.  Up to developers whether to address retroactively in their sims.

@samreid suggested adding test values to schema, that CT could then read and test.  Or add query parameter tests to package.json?  Or qunit t

[2020-05-14 19:33] pixelzoom commented on #90
5/14/2020 dev meeting:

* Add to pre-commit without scenery
* Combine scripts into a single .js (chipper? perennial?) so we can improve without having to reinstall hooks.
* Update documentation that's being added in #171.

[2020-05-14 21:18] pixelzoom commented on #91
Done, closing.

[2020-05-14 21:18] #91 closed

[2020-05-14 21:30] pixelzoom commented on #90
From https://github.com/phetsims/perennial/issues/171#issuecomment-628835038:

As I started to do this, I realized that the work outlined in https://github.com/phetsims/aqua/issues/90#issuecomment-628844352 is going to likely make what I write immediately obsolete.  So @samreid would you mind add doc to PhET Developer Overview after you've revised the pre-commit hook and process for installing?

[2020-05-14 21:34] samreid commented on #90
Won't the process be the same for installing the git hooks in the first place?  I'll be changing the content phet-info/git-template-dir/hooks/pre-commit, but it will still need to be installed in the same way (via `git init`), right?

[2020-05-14 21:51] pixelzoom commented on #90
The current process (adapted from pre-commit doc header) has been added as item 13 to https://github.com/phetsims/phet-info/blob/master/doc/phet-development-overview.md#utilities-and-instrumentation-for-development-and-testing.  This seemed like the correct section to add it to, but the use of a numbered list isn't working very well for this section (imo).

[2020-05-16 14:56] samreid commented on #90
I think @zepumph recommended putting the precommit.js hook in perennial so it could work across SHAs.  Perennial currently handles code like that via a lazy require statement.

[code]

It looks like this would fail if '../../../chipper/js/grunt/lint' was undefined.

I'm not sure where this script should live, but I'll try it one spot and we can move it if necessary.

[2020-05-16 20:06] samreid commented on #90
I messaged slack:

@pixelzoom or @zepumph can you please pull/test/review?

[2020-05-16 20:34] samreid commented on #90
On second thought, I've resurrected lint-main.js for now, so that developers who pull without reading that message will still be able to commit.  When enough developers migrate to the new script, then we can delete the lint-main.js

[2020-05-18 16:19] pixelzoom commented on #90
I did a very simple test with WebStorm, and this seems to be working.

Issues, all related to documentation:

- [ ] Instructions in https://github.com/phetsims/phet-info/blob/master/doc/phet-development-overview.md#utilities-and-instrumentation-for-development-and-testing (item 13) need to be updated.
- [ ] Make phet-info/.../pre-commit refer to PhET Development Overview for instructions, instead

[2020-05-18 16:39] samreid commented on #90
Thanks for the recommendations, I addressed them in the commit.  @pixelzoom can you please re-review?

[2020-05-18 16:49] pixelzoom commented on #90
Looks great.

[2020-05-18 17:00] samreid commented on #90
The last thing for this issue is to delete lint-main.js once it no longer appears in anyone's .git hooks directories.  Marking for dev meeting as a checkpoint.  High priority since it will be fast.

[2020-05-18 19:03] samreid opened #95 "CT is often "Aw, snap" after leaving the tab open for a while"
This has happened half a dozen times or so since the recent upgrades to CT, showing "Aw snap" in tab I've left open for a while (though this one was 45 minutes or less)

![image](https://user-images.githubusercontent.com/679486/82249928-d8d6d480-9907-11ea-87c0-4f2a833b6168.png)

@jonathanolson any ideas?

[2020-05-18 19:07] zepumph commented on #95
This has happened to me. Before the refactor I always got it and guessed it was that the tab took too much memory, though I don't know if that is the case now.

[2020-05-18 19:08] pixelzoom commented on #95
I've experienced this a few times over the past couple of weeks.  I didn't report it because I typically don't leave CT open -- I check it, then close it.

[2020-05-19 22:23] zepumph commented on #90
Having a hardcoded slash after the localTestingURL was causing bugs for me on Windows http-server, and this was not how we used localTestingURL when generating PhET-iO API files. I removed that hard coded slash, and added support for dynamically adding it if it isn't provided from the client's build-local.

I also found it very hard to debug this, so I added some error logging before process.exit(

[2020-05-20 20:28] samreid commented on #90
Today @zepumph and I found a circular JSON error when running the unit tests but only in puppeteer and only on @zepumph's machine.  It was fine in @zepumph browser and on @samreid machine.  @zepumph will work around this mysterious issue by using `===` instead of `assert.equal`.

[2020-05-21 15:19] pixelzoom commented on #92
I've gotten used to the current defaults, and we this issue has just been sitting around for > 2 weeks.  So closing.

[2020-05-21 15:19] #92 closed

[2020-05-21 16:15] samreid commented on #90
Looks good, thanks!  Also, I realized we can use the same strategy we proposed for API file generation, to have node serve the files to puppeteer instead of relying on each developer's localhost.

[2020-05-21 17:25] jessegreenberg commented on #90
Discussed on 5/21/20 -

Went over the PSA and all say its OK to remove lint-main.js.

[2020-05-21 17:41] jessegreenberg commented on #80
Was discussed on 5/21/20 -

Issues in https://github.com/phetsims/aqua/issues/80#issuecomment-595524434 and https://github.com/phetsims/aqua/issues/80#issuecomment-601902318 were related to IE11, maybe not as important if we decide to drop that platform that often gives us issues.

[2020-05-21 17:42] samreid commented on #90
lint-main.js has been deleted.

[2020-05-21 17:50] chrisklus commented on #90
This is super cool! I tried a commit that should break a unit test and the commit failed. Thanks!

[2020-05-21 18:33] zepumph commented on #90
unit tests in phet-io-wrappers are designed to take a sim as a query parameter. This doesn't seem suitable for committing to `phet-io-wrappers`, so I also turned off that unit test above.

[2020-05-23 16:32] samreid opened #96 "What brands should we run unit tests for in the precommit hook?"
Related to https://github.com/phetsims/aqua/issues/90 and from https://github.com/phetsims/phet-io/issues/1668#issuecomment-632987582,

@pixelzoom asked:

If the phet-io brand tests were a superset of all the tests, we could just run the phet-io tests.  However, it is possible that phet brand tests are not a pure subset.  For example, if the phet brand accidentally tries to use an object only defi

[2020-05-23 17:50] pixelzoom commented on #96
Pre-commit is in perennial and is not related to CT. So perhaps this issue should be moved there?

[2020-05-27 22:37] samreid commented on #90
Another way to address this would be to have node serve the files to puppeteer instead of relying on the developer localhost.  We implemented this for https://github.com/phetsims/phet-io/issues/1664 and the same should be possible here.  I'll open a side issue for that and close this one.

[2020-05-27 22:37] #90 closed

[2020-05-27 22:38] samreid opened #97 "Node should serve files directly to puppeteer"
From #90

Another way to address this would be to have node serve the files to puppeteer instead of relying on the developer localhost.  We implemented this for https://github.com/phetsims/phet-io/issues/1664 and the same should be possible here.

[2020-05-27 22:40] samreid commented on #97
Let's try to factor out common code between this and https://github.com/phetsims/chipper/commit/9d74fe9631d73521029ff548d13549813991975e

[2020-05-29 20:54] zepumph opened #98 "Test build wrappers"
These aren't being tested right now. The phet-io sub team couldn't think of a reason why they aren't.

[2020-06-09 15:42] KatieWoe opened #100 "CT Missing visilbility annotation visibility-annotation"
Impacting a few sims as well.
[code]

[2020-06-09 16:17] pixelzoom opened #101 "CT: Lint-everything failed"
[code]

[2020-07-01 21:15] samreid opened #102 "qunitLaunchAfterHooks is not a function"
@jonathanolson reported:

ok: false,
 message: 'caught exception Error: Evaluation failed: TypeError: window.qunitLaunchAfterHooks is not a function\n' +
  '  at __puppeteer_evaluation_script__:12:16'
}

I said I would try to investigate this on Monday.

[2020-07-03 19:48] samreid commented on #102
I haven't been able to reproduce this problem by running `node ../perennial/js/scripts/hook-pre-commit.js` many times in axon.  The process for assigning `window.qunitLaunchAfterHooks` looks brittle though, perhaps there is a better way to do it.

[2020-07-06 18:16] jonathanolson commented on #101
Thoughts on a variant of lint-everything that skips aqua (so that it can be run on CT)?

[2020-07-06 18:18] jonathanolson commented on #100
Looks kind of like https://github.com/phetsims/aqua/issues/101, going to handle there.

[2020-07-06 18:18] #100 closed

[2020-07-06 18:43] pixelzoom commented on #101
What's the motivation for skipping aqua?  Why can't CT lint its own source code?

[2020-07-06 22:41] samreid commented on #102
I added a polling loop which runs if the function is not ready during startup.  @jonathanolson can you please run a test like this?

* Before pulling, run `node ../perennial/js/scripts/hook-pre-commit.js` several times in axon, and record how many times it has the failure
* Pull changes and run that again to see if the problem is corrected.

[2020-07-08 14:56] KatieWoe opened #103 "CT unable to load results"
On the morning of 7/8/2020. CT seems to be unable to load any results. The console shows a 503 error. New errors created every second or so.
![bug503](https://user-images.githubusercontent.com/41024075/86934344-d3705c00-c0f8-11ea-9d1d-683b43dcae83.png)

[2020-07-08 17:58] KatieWoe commented on #103
Looks a bit different now:
![bitdifferent](https://user-images.githubusercontent.com/41024075/86953887-55b94a00-c112-11ea-93b0-e65ae351380d.png)

[2020-07-08 22:08] KatieWoe commented on #103
Looks fixed

[2020-07-08 22:08] #103 closed

[2020-07-11 17:56] samreid commented on #97
The usages of `localTestingURL` in aqua/Gruntfile.js fall more under the CT umbrella, and I can't tell whether it would be appropriate to use `http.createServer` in those cases.  @jonathanolson what do you recommend?

[2020-07-11 17:59] samreid commented on #97
The other part for aqua is in https://github.com/phetsims/aqua/blob/0cf643eb817a2c2ec594183ca37bcf6b069b3bac/js/local/puppeteerQUnit.js#L85

[2020-07-15 06:28] samreid commented on #70
We no longer use requirejs or baseline files (which caused https://github.com/phetsims/phet-io/issues/1455) and we haven't seen this symptom in a while.  Closing.

[2020-07-15 06:28] #70 closed

[2020-07-25 22:08] samreid commented on #52
I removed the auto-test-local script since we have been focusing on precommit hooks.

[2020-08-04 21:15] samreid opened #104 "Game up harness cannot process reportColor messages"
When running the game up harness, @KatieWoe reported this kind of error:

The sim is sending reportColor messages, which the game up harness doesn't know how to ignore.  Here are some ways forward:

(a) ignore the problem and instruct the QA team to ignore these errors
(b) modify the test harness to detect this kind of message and ignore it
(c) modify the test harness to ignore any kind of message

[2020-08-04 21:20] samreid commented on #104
I went with (b) and committed.  One day we may find this kind of trouble with other messages and may need to investigate (c) or add more of type (b).  For now this seems OK, closing.

[2020-08-04 21:20] #104 closed

[2020-08-06 21:01] zepumph opened #105 "Add CT tests for public query parameters"
Since public query parameters are available to the public, it would be nice if we were testing them on CT. I think the basic thing to do is to pick one single screen sim, and one multi-screen sim, and run it with correct and incorrect parameters. When `?ea` is not provided, the sim should not error given wrong `public` parameters.

[2020-08-06 21:01] zepumph commented on #105
This idea comes from my mistake in https://github.com/phetsims/joist/issues/641#issuecomment-668865380

[2020-08-06 21:17] zepumph commented on #105
@jonathanolson, does this seem reasonable to you? Feel free to close.

[2020-08-07 18:15] pixelzoom commented on #64
Looks like this issue went into limbo because it's not assigned.  It's now almost 19 months old. Re-labeling for developer meeting and assigning to @ariel-phet.

[2020-08-13 18:57] jessegreenberg commented on #64
8/13/20

We discussed that it is generally useful to run ?fuzz with ?stringTest=xss for the reasons in https://github.com/phetsims/aqua/issues/64#issuecomment-455237929. It is worth the time on CT and catching the rare issue it finds is worth the time.

This test combination IS currently being run on CT. Closing this issue.

[2020-08-13 18:57] #64 closed

[2020-08-27 18:19] jessegreenberg opened #106 "Enable multitouch testing on CT"
We would like to enable multitouch fuzzing on CT testing. It would be good to cover multitouch testing on CT in general, but this will also cover magnification testing in CT.  First step is to fuzz everything with `?fuzzPointers=3`.

First step is to test all sims with multitouch fuzzing and get a sense of how many problems there are. If there is a manageable amount of issues, they will be resolve

[2020-08-27 18:26] zepumph opened #107 "CT should test assertSlow with `?eall`"
I was curious to see that `assertSlow` via `?eall` was failing on multi screen sims over in https://github.com/phetsims/joist/issues/656. At dev meeting it was decided that we will do some limited testing of CT. For timing, we will just take a random sim and run this on that sim.

I will also update QA about how this type of test may exist, and to look at how often the test is run, not just the wh

[2020-08-28 00:29] zepumph opened #108 "Memory testing using `window.performance.memory`?"
@pixelzoom found many performance related issues recently during natural selection memory testing. I was curious about the potential of using `performance.memory` to make automated tests that find memory leaks. At the very least a naive and simple implementation could be easy to make, and catch the largest/most-important problems.

This is a non-standard api (only for chrome), see https://develope

[2020-08-28 01:36] samreid commented on #108
I believe this is already in place using main/joist/js/MemoryMonitor.js and running on CT for some fuzzes.

[2020-08-28 22:22] jessegreenberg commented on #106
Looking at InputFuzzer.fuzzEvents:

Every frame there is a chance that 0 - N actions will be made, where N default is currently 100. Actions are random in their selection, while making sure that the number of pointers down doesn't exceed `?fuzzPointers` value and `up` events can only go down if there are active pointers.

I sampled 10,000 actions with `?fuzz&fuzzPointers=3` and the average number

[2020-08-31 16:49] jessegreenberg commented on #106
When I run fuzzing with `?fuzzPointers=2`, I only encounter these four errors:

[code]

The friction and BASE issues are likely the same problem, and I expect would likely show up in other sims with a11y.

[2020-08-31 21:40] jessegreenberg commented on #106
https://github.com/phetsims/scenery-phet/issues/622 resolves the GrabDragInteraction issues. the masses-and-springs-basics issue is handled in https://github.com/phetsims/masses-and-springs-basics/issues/67. The only issue remaining is in make-a-ten.

[2020-08-31 21:53] jessegreenberg commented on #106
A new one popped up
[code]

[2020-08-31 22:13] jessegreenberg commented on #106
Running tests again locally with longer duration before committing to change because https://github.com/phetsims/aqua/issues/106#issuecomment-684062198 did not appear first run through. Currently at 'B' sims with `testDuration=60000` and now issues found.

[2020-09-01 00:32] jessegreenberg commented on #106
Here is the new list after fuzzing for one minute per sim
<details>

[code]
</details>

[2020-09-01 21:35] jessegreenberg commented on #106
Looks like the remaining issues are specific to each sim. Putting on developer meeting to review. In my opinion the remaining list is pretty short so it seems worth working on so we can fuzz with multiple pointers, and also test zoom feature with fuzzing.

[2020-09-17 19:15] zepumph commented on #106
@jessegreenberg will make issues in the above repos, and then we will turn this on after those are sorted out.

[2020-09-22 02:13] ariel-phet commented on #80
Considering that making this improvement is not really a priority, and that IE11 has been dropped, I feel like we can close this issue.

[2020-09-22 02:13] #80 closed

[2020-10-01 03:41] ariel-phet commented on #43
It seems like IE was the main culprit in the past that would have been good to test. Currently this request has not really come up much, and CT has been catching the bulk of errors. If we run into another platform that seems worthy we can revisit, but closing this one, especially since the parent issue has been closed.

[2020-10-01 03:41] #43 closed

[2020-11-06 18:41] zepumph opened #109 "Add maxColumns query parameter"
I think that load time would be greatly reduced if I could ignore old snapshots and only load the newer ones. This is evidenced by the filer box. When there are only a couple of sims, it is much more performant. `?maxColumns=10` could be  a really nice way to have less on the screen that just loads down the webpage.

[2020-11-06 21:18] zepumph commented on #109
This is working, it makes expanding columns much faster, and helps some with the load time. Note that rebuilding aqua caused https://github.com/phetsims/tambo/issues/126, and the link on master causes an error on load, even though it still runs afterwards fine.

[2020-11-06 21:41] #109 closed

[2020-11-11 16:58] pixelzoom commented on #74
The improved CT UI has some nice sorting options, and "Importance" will put all of the failing sims at the top.  So this issue is no longer relevant and can be closed.

[2020-11-11 16:58] #74 closed

[2020-11-11 17:00] pixelzoom commented on #56
Wait long enough and problems fix themselves :)  After CT was revised, this code no longer exists.  Closing.

[2020-11-11 17:00] #56 closed

[2020-11-11 17:01] pixelzoom commented on #23
@zepumph is this issue still relevant?  continuous-report doesn't exist.  And does CT still have "stable phet-io api test failures"?

[2020-11-11 17:03] pixelzoom commented on #36
@ariel-phet can this be closed?   The last comment was on 1/3/2018, when @jonathanolson said he would "check back in a bit".

[2020-11-11 17:04] pixelzoom commented on #25
@ariel-phet can you decide how to proceed?  Waiting on a reply from @jonathanolson since 12/1/2017.

[2020-11-11 17:05] pixelzoom commented on #44
@ariel-phet no progress on this since 7/12/2018.  How should we proceed?

[2020-11-11 17:07] pixelzoom commented on #67
@ariel-phet I think it's unlikely that this will ever be automated, and QA seems to be handling this.  I recommend closing.

[2020-11-11 17:10] pixelzoom commented on #106
There has been no movement on this issue, and sim-specific issues have not been created.  Labeling for developer meeting to decide how to proceed.   My recommendation is to enabled multi-touch fuzz testing, and have responsible devs fix their sims.

[2020-11-11 17:14] pixelzoom commented on #49
Slack:

Chris Malley  10:08 AM
We used to have a problem were CT failures were assigned to the wrong repos. I haven't seen this problem since CT was overhauled.  Does anyone object to me closing this issue? https://github.com/phetsims/aqua/issues/49

Sam Reid  10:12 AM
I agree it can be closed

[2020-11-11 17:14] #49 closed

[2020-11-11 17:17] pixelzoom commented on #88
In Slack on 11/6/2020, @zepumph said:
PSA: I was getting a bit tired of long load times for CT, so I made a ?maxColumns=X query parameter. So far ?maxColumns=10 has been my favorite. I hope this helps someone else too.

@zepumph does that satisfy your needs for this issue? Can this issue be closed?

[2020-11-11 17:23] pixelzoom commented on #47
@KatieWoe is this still a problem? If so, please assign to @ariel-phet for prioritization. If not, please close.

[2020-11-11 17:24] pixelzoom commented on #79
These seems to have (mostly?) disappeared since CT was rewritten. Closing.

[2020-11-11 17:24] #79 closed

[2020-11-11 17:26] pixelzoom commented on #105
There's been no progress on this issue, and what @zepumph did seems reasonable to me.  Assigning to @ariel-phet to decide how to proceed.

[2020-11-11 17:28] pixelzoom commented on #86
continuous-server.js no longer exists.  Hopefully it's is now better documented, wherever it went.  Closing.

[2020-11-11 17:28] #86 closed

[2020-11-11 17:29] pixelzoom commented on #89
Checking in on status of this issue.  I see a whole bunch of commits from @samreid, not sure how they are related to this issue or if they resolved anything.  So I'll start by assigning to @samreid.

[2020-11-11 17:36] pixelzoom commented on #40
No progress on this since 2/19/2018, and it was a problem report, not a potential feature.   Assigning to @ariel-phet to decide how to proceed.

[2020-11-11 17:41] ariel-phet commented on #67
@pixelzoom agreed, closing

[2020-11-11 17:41] #67 closed

[2020-11-11 19:50] ariel-phet commented on #105
That seems to be enough people feeling it is reasonable to me, closing

[2020-11-11 19:52] ariel-phet commented on #40
Since this problem does not seem to have come up again, closing

[2020-11-11 19:52] #40 closed

[2020-11-11 19:55] jonathanolson commented on #36
Unit tests completing!

[2020-11-11 19:55] #36 closed

[2020-11-11 19:57] jonathanolson commented on #25
We would need to keep some form of timeout, as we wouldn't want all of e.g. CT to be stalled out by a single test.

[2020-11-11 20:04] zepumph commented on #88
It doesn't feel like the robust way of handling this. It also doesn't handle the large amount of network that CT takes up to keep updating and adding rows. I don't know the details about the implementation, but I wouldn't want to make it sound like #109 was a solution to this problem--just a workaround.

[2020-11-11 20:46] zepumph commented on #88
I think I need to change my opinion. I was surprised to see that with `?maxColumns=10` added to a CT browser tab, there was only an increase of a couple of MB after 30 minutes of having the tab open. This feels like a solution for slow load time. We may still want to make the usability more clear or automatic. Should we require `?maxColumns` for CT to be usable past a couple of minutes without the

[2020-11-11 21:37] zepumph commented on #23
I don't think so. Thanks for the ping!

[2020-11-11 21:37] #23 closed

[2020-11-12 16:45] #47 closed

[2020-11-13 02:37] pixelzoom commented on #88
Great! Closing.

That's another issue that's had no forward progress, https://github.com/phetsims/aqua/issues/95.  I'll note your question there.

[2020-11-13 02:37] #88 closed

[2020-11-13 02:38] pixelzoom commented on #95
In https://github.com/phetsims/aqua/issues/88#issuecomment-725652563, @zepumph asked:

[2020-11-16 18:56] pixelzoom opened #110 "add phetmarks support for running colors.html"
If you add `"colorProfile": true`, to package.json and run `grunt update`, it creates `{{REPO}-colors.html`.  This file allows developers and designers to experiment with the color profile for a sim.   Running this colors.html file is not currently supported by phetmarks, which is inconvenient - you have to manually navigate to colors.html in a browser.

This has become more important because, (1)

[2020-11-18 04:04] samreid commented on #89
I think @zepumph and/or @jonathanolson would be best suited to comment on the status of this issue.

[2020-11-19 16:09] ariel-phet commented on #106
@jessegreenberg will be moving this issue forward @pixelzoom

[2020-11-19 16:12] jonathanolson commented on #110
![image](https://user-images.githubusercontent.com/480878/99692162-3975d400-2a47-11eb-85c3-06b67b70470b.png)

This exists already I believe, currently under "Color Editor" as seen above.

[2020-11-19 16:26] jessegreenberg commented on #106
Issues have been made for the list in https://github.com/phetsims/aqua/issues/106#issuecomment-684120323. I am running aqua again locally with ?fuzz&fuzzPointers=2&testDuration=30000, in case anything new has been introduced since last checked. At 'f' sims so far and assertions are the same.

[2020-11-19 17:05] #110 closed

[2020-11-19 17:06] pixelzoom commented on #110
I guess this means "it's already supported, you just missed it".

[2020-11-19 17:14] jessegreenberg commented on #106
OK, fuzz testing finished and the list of issues is the same. Issues have been created for all. 5 sims in total are still failing. Would devs like this to be enabled now, or would you prefer to wait until these are resolved before changing CT?

[2020-11-19 17:18] pixelzoom commented on #106
@jessegreenberg can you please post the query parameters used for the failures that you noted in https://github.com/phetsims/aqua/issues/106#issuecomment-684120323?

[2020-11-19 17:28] jessegreenberg commented on #106
The query parameters used were the ones used by aqua:
`ea&audioVolume=0&sound=disabled&testDuration=30000&testConcurrentBuilds=4&brand=phet&fuzz&fuzzPointers=2`

Though I think the important ones are
`ea&fuzz&fuzzPointers=2`

[2020-11-19 20:01] pixelzoom commented on #106
My preference is to enable this now, and address the problems now.  Otherwise we'll have to continue to iterate on this again, possibly with new problems on each iteration.

[2020-11-19 22:07] zepumph commented on #108
I feel like there could be some interesting work done in this issue, but nothing seems easy or a reasonable amount of work to spend right now.

Some ides:
CT to compare memory of current sim to a previous snapshot (published sim?)
A way to specify an "ideal" memory for a sim, and then test against that.

I think for now we should close this issue.

[2020-11-19 22:07] #108 closed

[2020-11-20 00:12] zepumph commented on #107
@jonathanolson, I want this to be a really low priority test that only happens if CT is bored, can you please review the above commit? Any thoughts?

[2020-11-20 22:12] zepumph commented on #89
Any sim shas made before April 30 will have broken unit tests when you check them out. I don't think this warrants a maintenance release, and I'm glad that this is now fixed for future releases. I think we are ready to close this issue. @samreid does that sound right to you?

[2020-11-20 23:18] samreid commented on #89
In https://github.com/phetsims/aqua/issues/89#issuecomment-622478058 @jonathanolson also recommended moving pageload-connector.js from aqua to chipper.  I'm not sure where that file is used from.  Does that sound right to you?  If so, can you please take the lead on that or let me know if I should?

[2020-11-23 15:03] samreid commented on #98
I'm not planning on working on this in the near future, unassigning.

[2020-11-24 13:28] samreid commented on #25
In https://github.com/phetsims/aqua/commit/6d6427bf033ca245ae8c2cd0f39072cf782a999e the test duration was increased to 400000 and it seems tests now know when they have ended.  Closing.

[2020-11-24 13:28] #25 closed

[2020-11-25 18:48] jonathanolson commented on #107
I'm fine with this being tested, but I recall a lot of cases where `?eall` will break that I haven't investigated yet (a number of different failure modes with random scenery operations that should be valid), so it's likely to show a lot of errors.

[2020-11-25 19:31] zepumph commented on #107
I see. I didn't realize that `eall` wasn't supposed to pass fuzzing. I have added assertions to `eall` when I felt like they were too slow for running with `ea`. Perhaps I should reevaluate that pattern if we find that `eall` holds too many "acceptable errors" during CT testing.

[2020-12-03 19:48] zepumph commented on #106
At dev meeting today, we decided to just add it, and handle the errors as they appear on CT.

[2020-12-07 21:41] ariel-phet commented on #44
Although this kind of feature would like be "nice to have" people have been getting by with our current tools. Considering that the issue is basically 2 years old, and we have not had time or pressing need to work on it, it feels appropriate to close.

[2020-12-07 21:41] #44 closed

[2020-12-10 19:26] zepumph opened #111 "Add a test for testing dependencies between common code"
From https://github.com/phetsims/tambo/issues/126#issuecomment-742739996, we would like to have a test like the following:

* Build sun
* Test the dependencies it imported
* Make sure it doesn't include sims or joist (maybe others).

@jonathanolson made it sound like this would involve a new CT test type that runs Node code. I think that could be valuable in other places as well, not just this dep

[2020-12-11 22:04] terracoda opened #112 "Phetmarks not working on Safari"
For a couple of days I have been unable to load sims from Phetmarks (on bayes) when using Safari.

I get 2 errors in the console:
![Screen Shot 2020-12-11 at 4 47 03 PM](https://user-images.githubusercontent.com/1902116/101950879-9856e500-3bd0-11eb-8b0f-ee53812351ed.png)

**Here are the errors in text:**
- Blocked https://bayes.colorado.edu/dev/phettest/ratio-and-proportion/js/ratio-and-proportion

[2020-12-11 22:07] samreid commented on #112
https://stackoverflow.com/questions/55131037/safari-blocks-url-from-asking-for-credentials-because-its-a-cross-origin-reques suggests we could solve this by adding "crossorigin" to some of the script tags.

[2020-12-11 22:39] jessegreenberg commented on #112
@samreid and I tried adding crossorigin to the script in the top level HTML file:

[code]

The result was that it repeatedly asked for login credentials when landing on the PhET loading screen. Likely it is asking for credentials for every individual file.

[2020-12-11 23:07] zepumph commented on #112
I'm going to move this to a private repo, also tagging https://github.com/phetsims/special-ops/issues/170 as the base issue.

[2020-12-12 23:25] pixelzoom opened #113 "How do I tell CT not to run PhET-iO tests?"
Fourier is a new sim that is in development.  I am incrementally adding PhET-iO support, and I don't expect the sim to pass tests related to PhET-iO.   At this stage of implementation, I'm mainly interested in structure of the Studio tree.  I don't care whether there are State wrapper problems, and I fully expect that there will be problems.

I've added this to package.json:

[code]

But this just

[2020-12-13 01:40] samreid commented on #113
Please correct me if I'm wrong, but I don't see a way to have a simulation listed in phet-io brands but not run any phet-io tests.  We have a list to opt-out of phet-io state tests in https://github.com/phetsims/perennial/blob/master/data/phet-io-state-unsupported.  Should we add another list or other lists for opting out of more tests?

[2020-12-13 02:41] pixelzoom commented on #113
Seems like decoupling phetmarks and CT would address the problem:  Yes, please add the phet-io options to phetmarks so I can test what I'm working on.  No, please don't test PhET-iO in CT because the implementation isn't complete enough to pass tests.

[2020-12-13 02:46] pixelzoom commented on #113
Thanks, I'm aware of phet-io-state-unsupported.  My question is how do I opt out of **_all_** PhET-iO tests.  My sim is not going to support PhET-iO until > 1.0, but I still need to add a minimal amount of PhET-iO instrumentation in order to confirm that I'm going to be able to meet design requirements.

If it's really impossible to add the PhET-iO modes to phetmarks without enabling CT PhET-iO te

[2020-12-13 02:47] pixelzoom commented on #113
It also makes it more difficult for my sim team to (for example) run Fourier in Studio.

[2020-12-13 02:53] pixelzoom commented on #113
I've added fourier-making-waves to phet-io-state-unsupported, see https://github.com/phetsims/fourier-making-waves/issues/12#issuecomment-743939264.

[2020-12-16 00:08] zepumph commented on #107
CT is looking pretty clear! I think we should close this issue. We can reevaluate if we find cases where eall is failing and we don't want to fix it.

[2020-12-16 00:08] #107 closed

[2021-01-05 00:58] jonathanolson commented on #111
It isn't currently.

Presumably we'd want to add a test type for aqua, and potentially be able to add essentially a prompt to say "Build repo X, make sure it doesn't depend on repos Y,Z,W"

[2021-01-05 01:23] jonathanolson opened #114 "Remove es5-specific logic in aqua tests"
From https://github.com/phetsims/tasks/issues/1037.

We'll want to remove the es5-only markers for tests (since all browsers should now work with that). First in aqua, then deployed, then remove from the test list generation code.

[2021-01-13 00:42] samreid opened #115 "In-memory PM2 is out-of-date"
I observed these messages when stopping and starting the pm2 continuous server.

[code]

@zepumph or @jonathanolson can you please comment?

[2021-01-13 01:21] zepumph commented on #115
I have no knowledge of this. I would say update it and ask for forgiveness.

[2021-01-22 22:52] zepumph opened #116 "Command to tell CT to give up on current snapshot, and pull all and start another"
Sometimes CT shows a row very red because it grabbed a snapshot halfway through many repos getting committed and pushed. @jonathanolson could you comment on how easy it may be to add runtime control to CT so that it could be told to give up on a snapshot, and move on? I don' think this is high priority, but if it was simple enough, I may add it to my back burner.

[2021-01-28 18:21] jonathanolson commented on #116
It would presumably be adding in an API that would allow removing a snapshot. Probably slightly complicated, especially if it's recent, since we'd still be getting testing results in for the next few minutes.

There's usually quite a delay, is it possible to push all repos generally near the same time? It's not just a CT thing, if someone pulls at that time, it could be an issue.

[2021-01-28 19:20] zepumph commented on #116
Yes agreed. Push delay is less than ideal. Webstorm is the cause for the long time when committing in 100 repos at a time. I could likely improve my pattern to just commit with Webstorm, and then use the command line to push all. Closing

[2021-01-28 19:20] #116 closed

[2021-02-04 17:09] pixelzoom commented on #106
2/4/21 dev meeting:

We noted that there are some new CT issues related to this, and decided to create sim-specific issues to address them.

@jessegreenberg will add an option to phetmarks for this feature, then can close this.

[2021-02-05 21:32] jessegreenberg commented on #106
I added a checkbox for fuzzPointers=2 to phetmarks. This can be closed.

[2021-02-05 21:32] #106 closed

[2021-02-09 18:37] jessegreenberg opened #117 "CT should run multitouch fuzzing without pan and zoom"
From slack, @pixelzoom mentioned that most of the time testing is done with ?fuzz&fuzzPointers=2, the sim is zoomed in. So the multitouch fuzzing on CT is not often not hitting many UI components.

We should have a fuzz test with multitouch without pan and zoom enabled.

We still want to test pan and zoom in some way. We could add a multitouch fuzz test to CT with pan and zoom enabled, but that ma

[2021-02-09 18:38] jessegreenberg commented on #117
Also, @pixelzoom requested that ?supportsPanAndZoom be added to phetmarks for easy access. Ill add that.

[2021-02-09 19:10] zepumph commented on #117
@jessegreenberg it seems like writing unit tests that haven't been create to this point may be contrived if the best way to test is just fuzzing a sim to exercise pan/zoom. That said, if there are more tests that can be added for pan/zoom, then that makes sense to do in unit tests.

I adjusted the testing in a way that made sense to me, using the `priority` feature of CT to make sure that we didn'

[2021-02-10 23:23] jessegreenberg commented on #117
Commits look good to me, and I see value in testing the pan and zoom feature on every sim. The feature should be general but there are sim-specific things that could come out of testing (https://github.com/phetsims/density/issues/56 is an example that came up recently).

The other question was about the `priority` option, and I see you added some doc about it, thanks.

I also checked in with @jona

[2021-02-10 23:23] #117 closed

[2021-02-26 16:44] samreid commented on #105
In slack, someone pointed out:

Sam Reid  9:38 AM
Perhaps we should change it to ?screens=1,2.  Why did it just start failing recently?  Also, what is supposed to happen if you specify ?screens=1,2 on a one-screen sim?

Chris Malley  9:39 AM
Re code dependencies on git, I don’t know, not in my wheelhouse…. Let’s tell the user to check his repo into GitHub as a workaround (so he can hopefully proce

[2021-02-26 16:45] samreid commented on #105
@pixelzoom added:

[2021-02-26 17:13] zepumph commented on #105
I do not think this is the "general" issue you are looking for to solve the CT error, "cannot add the same listener twice."  This error is more systemic, and is showing up also in https://github.com/phetsims/projectile-motion/issues/255 and others.

This issue was created to test public query parameters, which are DESIGNED to accept faulty values and not fail. That is why you get incorrect values

[2021-02-26 17:13] #105 closed

[2021-03-15 18:46] pixelzoom opened #118 "CT is not running some tests"
As has been reported numerous times in Slack, CT seems to have a serious problem.  It's not running all tests.  Some of the tests are getting run rarely or never.  Given how much PhET relies on CT, this is not good.

To give an example...  I saw https://github.com/phetsims/ph-scale/issues/212 occur once in CT.  It only occurred once over many CT cycles, so my tendency was to assume that it was a r

[2021-03-15 18:56] zepumph commented on #118
Yes I agree. Here a visual to help understand, if you just loaded CT right now, you would not get the systemic nature of what is actually going on. Here is it a first glance:

![image](https://user-images.githubusercontent.com/6856943/111206283-05d23300-857d-11eb-919b-aae9c61164f7.png)

But if you expand everything, you will find that the majority of error cases are just the only completed test in

[2021-03-15 19:02] pixelzoom commented on #118
Thanks @zepumph, that's a nice visual description of what's going on. So the same thing that I discovered for phetsims/ph-scale#212 is happening for all sims.

In addition to figuring out why CT is not able to run all tests, perhaps the list of tests should be reviewed, to see whether all of them are necessary.

[2021-03-15 19:14] jonathanolson commented on #118
There is generally not enough time to run all tests for every snapshot (I think I recently calculated we're at about 35 hours of browser testing per snapshot, which if we're running 9 processes would be closer to 4 hours, and since we test the last two snapshots, would probably take an 8-hour gap in order to run everything in a snapshot, assuming everything is working correctly).

Also, it seems l

[2021-03-15 20:06] pixelzoom commented on #118
What would it take to run all tests for every snapshot?  I'm not familiar with CT's implementation.  But it seems to me that CT needs to be able to scale beyond what it's capable of now. As PhET continues to grow, there will be a need to run more tests.

[2021-03-15 20:17] jonathanolson commented on #118
Generally, pointing more browsers at CT should help speed it up. Those browsers WILL increase the load on the HTTP server (if an example sim load at ~700 requests is standard, each snapshot would take about ~1.1 million http requests to complete at the current number of tests).

I'm going to see if this works out by running some browsers from my home.

[2021-03-15 20:21] jonathanolson commented on #118
I've been running one browser tab on https://bayes.colorado.edu/continuous-testing/aqua/html/continuous-loop.html?id=Testing for 30 minutes, and it seems to be operating normally (and recording results in CT).

[2021-03-15 20:23] zepumph commented on #118
I've had success with `puppeteerHelpCT`, like `cd aqua/js/local; node puppeteerHelpCT ZepumphComputer`. Perhaps (naively), we could see if it was helpful to have 20 of these links going to unburden the 9 processes on bayes.

[2021-03-15 20:31] jonathanolson commented on #118
@zepumph do you have enough puppeteer knowledge to help if I were to try getting puppeteer working to get Chrome instances running on it?

[2021-03-15 21:11] zepumph commented on #118
I'd be happy to take a look!

[2021-03-16 15:46] KatieWoe opened #119 "CT unloaded frame before complete"
3/16/21, some sims in CT showing this issue:
[code]

[2021-03-17 19:51] zepumph opened #120 "sim-test.js to support a direct "continuous-test-pass" event from the sim"
@samreid and I would like to be able to bypass the `duration` api to run a test that, upon completion (in this case it is a sim-load + XHR + compare-logic), send CT a message that says we are ready to move on.

A general continuous-test-pass message could be used by anyone that wanted to create their own specific test, and would provide a way to opt out of just sitting there for a `duration` befor

[2021-03-18 15:08] jonathanolson commented on #120
Seems reasonable to me. Timeout not critical, since it only respects the first aqua command (but seems nice to have).

[2021-03-18 18:38] jonathanolson opened #121 "Duplicated test names should be caught"
Discussed plan in dev meeting is to detect this in ContinuousServer, and have a listed test for Perennial listContinuousTests.js

[2021-03-20 01:05] zepumph opened #122 "Snapshot comparison improvements"
While using the snapshot comparison tool to check on https://github.com/phetsims/sun/issues/631, I had the following thoughts on improvements:

- [ ] Add a button next to "Start Snapshot" that only reruns the items that had an error on last snapshot
- [ ] Speedup the tool by either loading more sims in more iframes at a time, or kicking off the loading of the next iframe once the first iframe is l

[2021-03-22 17:15] jonathanolson commented on #122
All of that sounds great. Feel free to rebuild the interface/UI/handling completely, or make whatever changes. It's in a pretty rough state.

[2021-03-22 17:55] jonathanolson commented on #121
This was handled, tested, and fixed.

[2021-03-22 17:55] #121 closed

[2021-03-24 23:45] jonathanolson commented on #119
@KatieWoe has this continued to be a problem in the last few days? I'm curious how much trouble it's currently causing (whether it's a constant annoyance, or something that only happens super occasionally).

[2021-03-25 01:13] zepumph commented on #120
Committed above. I don't know the current state of aqua at this time, so I won't restart CT, but this will get picked up on next CT restart. Closing.

[2021-03-25 01:13] #120 closed

[2021-03-25 15:07] jonathanolson commented on #118
Almost all tests were run in the burned-in snapshots. Every single test has run in the last week. I believe this is fixed, closing.

[2021-03-25 15:07] #118 closed

[2021-03-25 15:40] KatieWoe commented on #119
It mostly seems occasional now

[2021-05-13 19:28] jonathanolson opened #123 "CT-style testing for release branches"
I've added some checks in perennial to detect errors in release branches. It seems like this could get tested regularly as part of CT, and be displayed in the interface.

We wouldn't want to burn too much CPU or space on this, but separate check-outs per sim have an advantage (to verify only those dependencies are needed).

I'll discuss sometime with @jbphet (subgroup).

[2021-06-09 17:12] pixelzoom opened #124 "CT is crashing with "Unexpected token < in JSON""
While running CT (https://bayes.colorado.edu/continuous-testing/aqua/html/continuous-report.html), it’s periodically failing.  No useful stack trace. Here’s the console output:

[code]

[2021-06-09 20:04] pixelzoom commented on #124
Slack:

Jonathan Olson  11:15 AM
Likely looks like it timing out. Bayes seemed a bit slow when I logged on a few days ago. Is that a crash that affects usability?

Chris Malley  11:17 AM
It doesn’t seem to be able to get through a full cycle of the list without crashing. So yeah, I’d say that affects usability. And if it’s a timeout, that error message could use some work. Or add timeout handling.

[2021-07-12 17:36] zepumph commented on #97
In https://github.com/phetsims/perennial/issues/175#issuecomment-878409712 I was surprised that I found that when using http.createServer to load a sim in binder, a bug in supplying the MIME type (Content-Type header) broke the sim. Why does this not occur with the Continuous Server? perhaps because I was specifying an svg incorrectly as a `plain/text`. Do you think this server could benefit from

[2021-07-12 17:47] zepumph commented on #97
In regards to https://github.com/phetsims/aqua/issues/97#issuecomment-657103988, this no longer uses localTestingURL because of its usage change over in https://github.com/phetsims/aqua/issues/97#issuecomment-657103988 in hook-pre-commit to use withServer, so I think this is really just about ContinuousServer.js

[2021-07-12 18:28] jonathanolson commented on #97
Seems possible to serve that way, but would it be a performance hit? Seems nice to factor it out so it's not needed if possible.

[2021-07-12 19:13] samreid commented on #97
I'm not very familiar with it, but it seems that `ContinuousServer` is supposed to last longer than the `withServer` is designed for.  @zepumph what do you recommend?

[2021-07-12 19:23] zepumph commented on #97
ContinuousServer.startServer begins and runs until the program stops. Sounds like we should leave it as is. I think this issue is outdated and should be closed.

[2021-07-12 19:45] samreid commented on #97
Closing sounds good to me.

[2021-08-03 18:43] zepumph opened #125 "Snapshot comparison to support non screenshot comparison methods"
Over in https://github.com/phetsims/perennial/issues/138, I want to compare PDOM description between two versions, and I feel like snapshot comparison could easily be build up to do that. First it will require a couple of minor changes to how the messages are formatted, and some terminology changes so that it isn't so based on "screenshots". Basically I'm thinking that a "snapshot" is just one loa

[2021-08-03 18:45] zepumph opened #126 "Snapshot comparison: cannot press "start snapshot" halfway through sim list"
If you do this currently, you will get a bug because the queue is not restarted, so it will keep going down the rest of the first iteration of sims, but adding them to the new "currentSnapshot". Tagging @jonathanolson, but I am planning to work on this while on https://github.com/phetsims/aqua/issues/125 and https://github.com/phetsims/aqua/issues/122.

[2021-08-03 18:57] zepumph opened #127 "Use Snapshot comparison to compare description and voicing implementations"
Basically a new strategy for https://github.com/phetsims/perennial/issues/138. I would like to see if we can use the snapshot comparison to handle description comparison as well.

[2021-08-03 20:32] zepumph opened #128 "branch: snapshot-pdom"
For experimenting with https://github.com/phetsims/aqua/issues/127

[2021-08-03 20:34] zepumph commented on #125
This is enough of a start to get going on https://github.com/phetsims/aqua/issues/127. @jonathanolson does this commit seems reasonable to you?

[2021-08-03 21:32] zepumph commented on #127
I decided to commit to a branch for now, but I'm feeling pretty good about this. In general the logic is not too complicated. The hardest part is figuring out how to display the info well. I can't find a good HTML visual differ, so I ended up just setting up to easily be able to copy into webstorm to diff the PDOM. I'll come back soon, and will be using this for Friction too. Wahoo!

[2021-08-03 21:33] jonathanolson commented on #125
Sounds perfectly reasonable!

[2021-08-04 02:06] #125 closed

[2021-08-07 21:40] zepumph commented on #127
Above is a bug fix where I wasn't continuing the looping function any time that the screenshots didn't differ.

[2021-08-08 14:24] zepumph commented on #127
Added voicing utterance support above.

[2021-08-11 21:45] zepumph commented on #127
I showed @jessegreenberg these changes, and he liked them. He recommended turning the PDOM texts into buttons that will copy them to the clipboard. I like it!

Perhaps merging to master is coming soon.

[2021-08-13 00:45] zepumph opened #131 "snapshot comparison fails when switching tabs while testing"

[2021-09-01 20:18] zepumph commented on #127
I'm ready to merge this to master, even before this is done. Coming in hot!

[2021-09-01 20:19] zepumph commented on #127
Merged.

[2021-09-01 20:19] zepumph commented on #128
Merged in https://github.com/phetsims/aqua/issues/127

[2021-09-01 20:19] #128 closed

[2021-10-04 22:42] KatieWoe opened #129 "CT Lint failed with status code 3"
[code]

[2021-10-05 02:58] samreid commented on #129
Probably due to https://github.com/phetsims/perennial/issues/246.  I stopped CT, pulled aqua and restarted CT.  Hopefully that does it!

[2021-10-05 02:58] #129 closed

[2021-12-13 17:01] samreid opened #130 "SyntaxError: The requested module '../../../axon/js/Property.js' does not provide an export named 'default'"
The latest column of CT is showing several

[2021-12-27 20:02] samreid commented on #130
Looks like a duplicate of https://github.com/phetsims/scenery/issues/1322, closing as duplicate.

[2021-12-27 20:02] #130 closed

[2022-02-03 15:26] zepumph commented on #89
Good idea. Done above. Again, let's not MR this, seeing that we haven't run into this issue (old shas + broken qunit) in the last 18 months. Closing

[2022-02-03 15:26] #89 closed

[2022-03-09 22:52] samreid opened #132 "[Error: Failed to launch the browser process! spawn /usr/bin/chromium-browser ENOENT"
My precommit hooks are saying:

[code]

Discovered in https://github.com/phetsims/phet-core/issues/112#issuecomment-1063360880.

Sounds related to https://github.com/puppeteer/puppeteer/issues/5662

[2022-03-15 16:12] zepumph opened #133 "CT: improvements: every test should run at night, and "QuickServer" for some tests having faster results."
@KatieWoe mentioned on slack:

I totally agree, here is last night's columns:

![image](https://user-images.githubusercontent.com/6856943/158422031-8e802b27-c805-4f4c-bd7a-0130ecb0a44d.png)

@jonathanolson, if we wanted to block out a couple of hours, could we do it like this?

[code]

[2022-03-16 15:41] jessegreenberg opened #134 "Focus and blur events don't fire while fuzzing if the document does not have focus"
If the document does not have focus, `focus` and `blur` events don't fire. Code dependent on these listeners will never fire while the sim is in the background. For example, that means that `FocusManager.pdomFocusProperty` will always be `null` because it is set in response to `focus` and `blur` events.

This is causing https://github.com/phetsims/geometric-optics/issues/384. I also ran into it th

[2022-03-16 16:29] jessegreenberg commented on #134
@zepumph and I met to discuss. We tried to get a headless Chrome up and running to verify that `focus` and `blur` events do not fire on that platform and to find a workaround but we weren't able to get it running successfully. But we did find https://github.com/puppeteer/puppeteer/issues/1462 which confirms that `focus` and `blur` won't fire in headless chrome/puppeteer.

We couldn't think of fix

[2022-03-17 16:53] zepumph commented on #133
The commit came in around 2pm yesterday, and CT is looking really complete ever since, I wonder if new Date().getHours() isn't working as expected.

I also see that CT is hung up since 6pm last night.

[2022-03-18 15:55] KatieWoe opened #135 "CT The requested module './util/TrailPointer.js' does not provide an export named 'default'"
A few sims show this in CT
[code]

[2022-03-22 13:58] pixelzoom opened #136 "Improve CT coverage when fuzzing ComboBox, Dialog, and similar UI components."
For some UI components, it's difficult to get adequate code coverage with fuzz testing. For example...

Geometric Optics has 3 different scenes that are selected via a ComboBox. But selecting from a ComboBox involves 2 actions: pressing the button to pop up the list, then making a selection from the list.  Because of how fuzzing works, the default setting for the ComboBox (the default scene) is re

[2022-03-22 15:41] pixelzoom commented on #136
I have now quantified, see https://github.com/phetsims/geometric-optics/issues/397#issuecomment-1075337164.  The default scene in Geometric Optics is receiving ~96% of the fuzz time.  Since the scenes in Geometric Optics are very different, this means that ~2/3 of this sim is not being adequated exercised by fuzz testing.

[2022-03-22 17:10] pixelzoom commented on #136
Scene-specific fuzz tests have been added to listContinuousTest.js for geometric-optics, see above commits.

[2022-03-31 13:21] samreid commented on #136
I wrote up an alternative strategy for exercising CT coverage by fuzzing the Property values directly in https://github.com/phetsims/axon/issues/383, @pixelzoom can you please review and comment?

[2022-03-31 14:36] jonathanolson commented on #136
Also this is an idea I haven't brought up for a while, but my vision was NOT originally to have fuzzing be the primary testing strategy. Recording input of a user running through an entire sim's interface seemed like the most likely primary method of testing its functionality.

[2022-03-31 15:21] jessegreenberg commented on #134
I am seeing errors from fuzzBoard on CT still, I am curious how that is possible after the above commit. Perhaps my understanding of this issue is not correct.
[code]

[2022-03-31 21:40] pixelzoom commented on #136
Done, see https://github.com/phetsims/axon/issues/383#issuecomment-1085100042

[2022-04-01 21:43] jessegreenberg commented on #134
Perhaps we can just explicitly put focus on the frame where the sim is being fuzzed to ensure that it will produce focus and blur events. It seems like it is sometimes doing that but not always.

[2022-04-05 22:46] pixelzoom opened #137 "CT: Unable to find local grunt"
In CT, aqua is on it’s 3rd cycle of not being able to find grunt.   This started at 1:06PM on 4/5/2022.

[code]

[2022-04-05 23:12] samreid commented on #137
I ran `npm install` in bayes `/data/share/phet/continuous-testing/aqua`.  Let's see if that's fixed in the next column.

[2022-04-11 15:08] jessegreenberg opened #138 "Scenery unit tests are not running on CT"
I noticed that the scenery unit tests are not running on CT
![image](https://user-images.githubusercontent.com/6396244/162769646-a51890d3-347e-4209-a465-c3f73995d51c.png)

[2022-04-11 15:13] jessegreenberg commented on #138
`scenery` is listed in perennial/data/unit-tests. Is it because there is no priority for unit tests here?

https://github.com/phetsims/perennial/blob/master/js/listContinuousTests.js#L267-L271

[2022-04-11 18:20] jessegreenberg commented on #138
The accessibility tests take many seconds to run because of timeouts that are part of the testing. Maybe there is a timeout in CT that just moves on to the next test before any of the unit tests can provide a success/failure message.

[2022-04-11 20:29] jessegreenberg commented on #138
They started showing up!
![image](https://user-images.githubusercontent.com/6396244/162826485-c61d7929-970b-4b95-973c-669fee5ade76.png)

[2022-04-12 13:03] jessegreenberg commented on #138
We had scenery unit tests running for 10 consecutive columns last night so I am going to close this.

[2022-04-12 13:03] #138 closed

[2022-04-12 14:32] zepumph commented on #138
To summarize this though, we don't know why failing unit tests were causing a lack of reporting here. It seems to have been fixed by the fixes in https://github.com/phetsims/scenery/commit/603005a048fad01ce9c6cf7e591ba4528040cc56 and https://github.com/phetsims/scenery/commit/be5ff55faae2406f758f85fd36722e7cbd59a324 over in https://github.com/phetsims/phet-io/issues/1847. I agree it isn't worth in

[2022-04-12 16:54] samreid commented on #132
Somehow not a problem any more:

[code]

Closing.

[2022-04-12 16:54] #132 closed

[2022-04-13 20:19] samreid commented on #95
Still seeing this problem:

<img width="787" alt="image" src="https://user-images.githubusercontent.com/679486/163263495-31af7ce0-9ae9-4ea0-975e-2845ca8a1e86.png">

[2022-04-25 14:17] jessegreenberg opened #139 "Create a new slack channel for CT slack announcements?"
@jonathanolson what do you think about putting the CT slack announcements in a new channel? I like the visibility of dev-public but the automated messages could hide or interrupt announcements or discussions there.

[2022-04-25 15:19] jessegreenberg opened #140 ""Connection closed" error on CT"
CT often reports an error like this:

I has popped up from time to time but is much more visible now that CT is sending notifications to slack. Why is this happening and how should we investigate?

Adding to dev meeting agend to decide who should investigate.

[2022-04-25 15:51] jonathanolson commented on #139
Added `#continuous-testing` channel, put the notifications there for now.

[2022-04-25 15:52] jessegreenberg commented on #139
Awesome, thanks!

[2022-04-25 15:52] #139 closed

[2022-04-25 15:52] jonathanolson commented on #140
QuickServer noted this in its error lods too:
[code]

[2022-05-13 15:45] chrisklus opened #141 "Report all new CTQ errors on Slack"
The CT channel has largely been noise for me and the two times there have been errors that I should fix, they have both not been reported in the channel.

Proposal: Until https://github.com/phetsims/aqua/issues/140 is fixed, filter out `Error: Protocol error: Connection closed. Most likely the page has been closed.` and `Error: Navigation failed because browser has disconnected!`. Also, report *al

[2022-05-16 05:45] samreid opened #142 "Can CT fuzzing report which screen was active when a fuzz error occurs?"
For sims with many different kinds of screens, it would be very useful for CT to report which screen had the failure.  Would this be easy/difficult?  Would there be false positives?

Assigning to @jonathanolson for initial discussion.

[2022-05-18 22:14] zepumph opened #143 "Create a CT client based on Puppeteer."
This way, we wouldn't need to have to kill all chrome. Related to https://github.com/phetsims/perennial/issues/268.

@jonathanolson and I also noticed that we could potentially use selenium, and or a headless firefox implementation with the same interface for CT's client side module.

[2022-05-19 17:43] zepumph commented on #140
I will take the lead on this issue. I think it is closely related to https://github.com/phetsims/aqua/issues/143 and discussion I was having with @jonathanolson about killing all chrome instances on bayes every 15 minutes.

[2022-05-19 19:07] zepumph commented on #143
I see that I, for fun, made a local Puppeteer client that is already doing a lot of what we want here:

https://github.com/phetsims/aqua/blob/042160003a1372489991e1e347bbebfe3322a1c9/js/local/puppeteerHelpCT.js

I'll start with that.

[2022-05-19 19:13] jbphet commented on #141
@zepumph said in the 5/19/2022 developer meeting that #140 should be fixed soon, so there is no need to explicitly filter it out.

As for the 2nd proposal (alerting us when things change in the failure modes), @jonathanolson says that there is a reasonably quick way to try this out, which is to diff the failures and send a notification on changes (i.e. differences exist).  He will implement this.

[2022-05-23 16:06] zepumph opened #144 "CTQ error opening puppeteer"
This begain at 2am this morning. I cannot reproduce locally with `grunt quick-server`, and a restart of the CTQ didn't fix it.

[code]

[2022-05-23 16:18] zepumph commented on #144
I can reproduce this on bayes with another script that uses perennial's puppeteerLoad:

[code]

<details>

[code]

[2022-05-23 16:36] zepumph commented on #144
I was able to successfully launch Puppeteer on Bayes by following this guide to turn off the sandbox.

https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md#setting-up-chrome-linux-sandbox

This is NOT recommended though for security reasons, even though it may be an acceptable workaround if we decide our content is safe enough, we may still want to investigate the 'recommended'

[2022-05-23 21:43] zepumph commented on #144
Working on this with @Matthew-Moore240 and @jonathanolson. We are leaning towards thinking this is a docker issue. Here is an error that most of our headless chrome instances for CT have:

<details>

[code]

[2022-05-23 22:20] zepumph commented on #144
We decided to try a reboot on Bayes (hadn't happened for 1500 days), and it hasn't yet come back up. @mattpen is taking the lead on reaching out to OIT about this. We will continue our investigation when it is complete.

[2022-05-24 05:27] chrisklus commented on #141
I made progress on this issue tonight. So far, I have just been experimenting with lint + tsc errors, as adding in transpiling and fuzzing makes for longer iterations and additional noise with memory stuff. So more work may be needed so support bringing those back, but I think I have a nice UX working for tsc and lint errors. Here is a log of a trial run, with my "commit" actions noted during each

[2022-05-24 05:35] chrisklus commented on #141
Before adding back in transpiling and fuzzing, I also want to do more thorough testing of lint + tsc errors, similar to what was done above, but with more variation, like a new lint and tsc error in the same cycle, two new errors of the same type in the same cycle, mixing in errors in different files, fixing errors over many cycles instead of all at once, etc to make sure all those cases are worki

[2022-05-24 13:54] mattpen commented on #144
@zepumph bayes came back online after reseating a failing memory module.   We should be able to continue investigation today.  I'm optimistic that the fix will also resolve the puppeteer issues.

[2022-05-25 16:29] zepumph commented on #141
Does this mean you have to get two passing rounds before it considers the error solved? What if in a round an error is solved and another appears? Is this important?

[2022-05-25 16:46] chrisklus commented on #141
No, I just wanted to make sure that the state went from `broken -> passing` to `passing -> passing`. Note that the passing CT message went out before that comment.

With the changes above, it would just report the new error and not send a passing message. I'm considering trying out some feedback that would reflect that change, but in a way that would not send additional messages. Maybe like:

[cod

[2022-05-26 05:27] chrisklus commented on #141
I got close to finishing tonight but am not quite there. Latest patch:

<details>

[code]

[2022-06-01 19:46] zepumph commented on #144
We have not seen this issue for the last week. I think the reboot fixed this. Closing

[2022-06-01 19:46] #144 closed

[2022-06-01 19:51] zepumph commented on #143
Good progress today! I made ContinuousServerClient which uses Workers to kick off instances of Puppeteer. I was able to test this locally and saw my results showing up on CT's report at https://bayes.colorado.edu/continuous-testing/aqua/html/continuous-report.html?maxColumns=5. From here I would like @jonathanolson to review.

My main questions are about all of the options passed to chrome in the

[2022-06-01 20:01] zepumph commented on #143
- [ ] Another question: Should we have each puppeteer load last longer than 15 minutes?

[2022-06-01 20:15] zepumph commented on #143
- [ ] If we get the go-ahead, I will want to update documentation about this procress instead of using the loop shell script.

[2022-06-02 17:16] zepumph commented on #143
I was looking through CT results and felt confident enough to transfer all testing onto this client. I also felt like there is potential that this switch may help solve the issues we are having over in https://github.com/phetsims/special-ops/issues/228. @jonathanolson please continue with the review knowing that this client is our entire testing client for CT at this time (16 instances of puppetee

[2022-06-02 17:22] zepumph commented on #143
Something I'm noticing in the logs is that there are a fair number of "info: puppeteer error: Error: Page crashed!" We now have logs to see that this is happening (~15 times in 15 minutes). I see two possible reasons:

1. Puppeteer doesn't like having 16 instances running in parallel (I don't think this is the problem)
2. This demonstrates that there is a CT test that is breaking the testing harne

[2022-06-02 17:28] jonathanolson commented on #143
Any idea which page is crashing?

[2022-06-02 21:22] zepumph opened #145 "Puppeteer Chrome clients fill up /tmp on bayes"
Looks like https://github.com/phetsims/aqua/issues/143 has caused /tmp to explode in size, and caused potentially some build failures? I'm not sure, but I looked into things and it is storing user data from the chrome sessions there:

https://github.com/puppeteer/puppeteer/issues/1791

I can set a different user data section with `--user-data-dir=BLARG`

Here was a script to clean up the user data

[2022-06-02 21:22] zepumph commented on #143
Note I stopped this because of https://github.com/phetsims/aqua/issues/145.

[2022-06-02 21:29] zepumph commented on #145
Ok. I tested this commit locally and saw that this was correctly being set within my git repos. Up next, we will want to delete it every so often. I think a cron job for that could be helpful. I'll wait though to speak with @mattpen.

[2022-06-02 21:35] zepumph commented on #145
Oh! And I also cleaned up the  puppeteer user data in `/tmp` too.

[2022-06-03 15:36] zepumph commented on #145
* Has there been a build failure since stopping continuous-client on bayes? No
* Is this problem only in tmp? I don't think so, when I start continuous-client/ and then `sudo du -sh /tmp`, it is less than a gb. I think that the space is being used somewhere else on `/`.

[2022-06-03 16:32] mattpen commented on #145
It looks like `/tmp` is the culprit, but the files have been deleted so they don't show up with `du`.   Running `sudo lsof | grep -i deleted` shows deleted files, and when the continuous-client is running there are more than 50,000 deleted chromium files in `/tmp`.

@zepumph mentioned there is a way to use a different temporary directory for chromium (puppeteer? pm2?) which I would hope would alle

[2022-06-03 20:14] zepumph commented on #145
`I got it!!!

Didn't work:
I first attempted to change the temp dir within puppeteer. I found an environment called `PUPPETEER_TMP_DIR` here: https://github.com/puppeteer/puppeteer/blob/v13.5.2/docs/api.md#environment-variables which seemed like it would do our job, but with this script:

[code]

I got an error running locally though which basically was an issue making the  puppeteer folders withi

[2022-06-03 20:16] #145 closed

[2022-06-03 20:45] zepumph commented on #140
Since creating https://github.com/phetsims/aqua/issues/143, we have not had any occurrences of this. We removed the `killall chrome` cron job, which was in all likelihood causing this. I'm going to close this issue.

[2022-06-03 20:45] #140 closed

[2022-06-06 19:19] zepumph commented on #143
All has been good on the server. Over the weekend it looks like there were no issues with the client. We are just ready for a review now.

[2022-06-07 00:56] jonathanolson commented on #143
I'm not sure I agree with https://github.com/phetsims/perennial/commit/34bcd56be90e157554623bfc78bb24dcd1ed7b8a. Usually things called `error` are a subtype of `Error`. Is that the case? (We could just resolve/reject with the error instead of wrapping it).

[2022-06-07 01:09] jonathanolson commented on #143
Looks good, although I don't know how `parentPort.postMessage( error );` in the client would activate code in the server to note the error. How would that work? Is that just activating the "message"?

[2022-06-09 15:20] zepumph commented on #137
I don't see this issue anymore, and also I recently restarted CT and it said that it was missing an npm module, requiring me to npm install. aqua tasks all run on grunt now, so hopefully people have to npm install in aqua before anything is run. Closing

[2022-06-09 15:20] #137 closed

[2022-06-09 15:22] zepumph commented on #133
This has been working really nicely. I looked at the code, and see no obvious improvements except https://github.com/phetsims/aqua/issues/141. Let's make side issues for CTQ (continuous-testing-quick) from here. Closing

[2022-06-09 15:22] #133 closed

[2022-06-09 15:23] zepumph commented on #115
I just updated pm2 last week. It is on 5.2 now. Closing.

[2022-06-09 15:24] zepumph commented on #97
I also want to add that we now have a puppeteer-based client for CT, see #143

[2022-06-09 15:24] #97 closed

[2022-06-09 15:25] zepumph commented on #113
What if we add phet-io links in phetmarks to all sims? And use the list to set a default of the phetioValidation query parameter. I agree it is an annoying hurdle to have to wait for data lists to update to locally test these links.

[2022-06-09 17:08] zepumph commented on #102
I don't think we have experienced this error in quite some time. I'm going to close this issue, but feel free to reopen if there is more to discuss.

[2022-06-09 17:08] #102 closed

[2022-06-09 17:10] zepumph commented on #69
CT can run locally now! Potentially since https://github.com/phetsims/aqua/commit/f7bd04e8ca42fdda2adf9393a3de255ff96a7ad7. Closing

[2022-06-09 17:10] #69 closed

[2022-06-09 17:20] zepumph commented on #142
This didn't work as I expected it to, so I'll have to do some more research:

[code]

[2022-06-09 21:28] pixelzoom commented on #113
I don't know what https://github.com/phetsims/aqua/issues/113#issuecomment-1151271063 means. What are "phet-io links"?

[2022-06-09 22:06] zepumph commented on #113
The links added to a sim in phetmarks that are specific to PhET-iO (studio/state/index). The only way we can add them ad this time is by having the sim in `perennial/data/phet-io`

[2022-06-09 22:10] zepumph opened #146 "Improve continuous server error handling"
Looks like ContinuousServer has been running on bayes for the last 26 hours, and in the time, it has restarted 531 times. It would be good to improve the error handling instead of putting that on pm2 to restart it. My guess it that this will make CT faster also, since it won't have to check stale each restart and potentially restart command line, non browser tests.

[code]

[2022-06-09 22:12] zepumph commented on #146
Unfortunately, it doesn't seem like this is showing up in the logs for the continuous-server process. The next step would be to check the pm2 logs themselves to see if there are errors about continuous-server crashing

[2022-06-09 22:14] zepumph commented on #146
In .pm2/pm2.log, I see it noted, but without much help:

[code]

[2022-06-09 22:16] zepumph commented on #146
Ahh! I actually think I understand, Right when I started the service 26 hours ago, there was an infinite loop of failures because we needed to npm install in aqua/. After doing that, there hasn't been a crash (hence why the uptime is 26 hours). If it had been restarting often, then the uptime would be much less than other processes, which were all started 26 hours ago. Closing

[2022-06-09 22:16] #146 closed

[2022-06-10 22:17] pixelzoom commented on #113
I don't understand how adding phet-io links for all sims addresses the problem.  And it creates a new problem -- there will be bad links for sims that do not support PhET-iO.  Feels like a really bad bandaid, not a solution.

The problem here is that you've coupled phetmarks links with CT phet-io tests, all controlled by the same flag.  And that's not a good fit for development -- I need phetmarks

[2022-06-11 01:04] chrisklus commented on #141
I got these working in a test Slack channel, then pushed my changes. Not sure which aqua repo on bayes needs to be pulled, but I asked @jonathanolson to help me out when we return on Monday.

If we like how this is working, I'll finish up cleanup + comments and close or assign for review.

[2022-06-13 21:41] zepumph commented on #113
I think I'm trying to say that all sims currently support phet-io with validation=false. So why not just let them be added to phetmarks for them? They wouldn't be bad links, they just may not do much, since sim-specific code wouldn't be supported. Do you still not like that idea?

- I need phetmarks links in order to test my work way before I want CT to be testing my work. So why not decouple them

[2022-06-13 21:57] pixelzoom commented on #113
That's not the case. http://localhost/~cmalley/GitHub/example-sim/example-sim_en.html?brand=phet-io&phetioStandalone&ea&debugger fails. There's no overrides.js.

`cd example-sim; grunt --brands=phet-io` also fails.  phet-io is an unsupported brand, because it's not specified in package.json.

If you want to move to "all sims support PhET-iO", that's fine with me. But I'm not sure that everyone on

[2022-06-14 12:37] pixelzoom opened #147 "CTQ throw an error if you click on a red box"
If you click on one of the red boxes in the "quick" part of CT (e.g. "lint" in this screenshot):

<img width="554" alt="screenshot_1696" src="https://user-images.githubusercontent.com/3046552/173578556-936d36a3-d522-4055-83ed-bcaf701bb77c.png">

... it throws an error to the console, and CT becomes unresponsive to input.  This does not happen with the non-quick red boxes.

@chrisklus related to ye

[2022-06-14 15:59] chrisklus commented on #141
@pixelzoom reported a problem in https://github.com/phetsims/aqua/issues/141 that would have been prevented if this code was in TypeScript, so I'll do the conversion as part of cleanup for this issue.

[2022-06-14 16:02] chrisklus commented on #147
Thanks @pixelzoom. I removed a key that was apparently being accessed asynchronously as a global from another file. Seems like this code should be converted to TypeScript, that would have prevented this from happening (the irony!). I made a note in https://github.com/phetsims/aqua/issues/141.

For this issue, I pushed a fix, restarted CTQ, and the problem is no longer happening. Closing.

[2022-06-14 16:02] #147 closed

[2022-06-15 18:47] zepumph commented on #141
I believe this is working as it is intended, but I thought I'd post a situation in which this change seems to not be an improvement. This morning @AgustinVallejo and I were in the middle of committing to ~20 repos and 200 files, there were merge conflicts so all in all it took about 30 minutes to get things committed. Here is what the CT slack channel said:

<details>

[code]
tsc: ../../../axon/js

[2022-06-16 17:41] chrisklus commented on #136
Some possible improvements:

SR: Option for popups when fuzzing -  reduce the chance that the popup will be dismissed when clicking outside the popup to ensure that options/content in the popup is interacted with.

@pixelzoom is going to investigate to see if there's an easy way to do this for Popupable, ComboBoxListBox, and PhetMenu - see also BarrierRectangle.

[2022-06-16 17:41] samreid commented on #136
This patch seemed to show a lot more dialogs and dialog options:

<details>

[code]

</details>

[2022-06-17 19:56] pixelzoom commented on #136
Slack:

@pixelzoom
For https://github.com/phetsims/aqua/issues/136, we discussed reducing the probability that popups will be dismissed while fuzz testing.  For the purposes of CT, how should we define “while fuzz testing”?   There are 4 different fuzz-related query parameters: fuzz, fuzzBoard (sic), fuzzMouse, fuzzTouch.  Is testing for phet.chipper.queryParameter.fuzz sufficient? Or will that no

[2022-06-17 20:16] pixelzoom commented on #136
Note that the approach that @samreid prototyped in https://github.com/phetsims/aqua/issues/136#issuecomment-1157957240 is what ComboBox currently does, see below.  It was added by me for https://github.com/phetsims/sun/issues/677, and refined by others.

[code]

[2022-06-17 20:25] pixelzoom commented on #136
Summary of the above commits:

* Used the same approach (as shown above) for BarrierRectangle (dialogs, PhET menu) and ComboBox (listbox).
* Made listbox stay open more often when fuzzing, by reducing its probability of closing from 0.25 to 0.005.
* Made dialogs and PhET menu stay open more often when fuzzing, with probability of closing 0.005.

To choose the value 0.005, I ran geometric-optics wi

[2022-06-20 16:03] KatieWoe opened #148 "CT has a number of grey cells and tests seem slow/not being done"
From Slack:

  [1 hour ago]
CT looks like not many tests are being done (lots of grey cells). Is this an issue?
[Sam Reid]
  [1 hour ago]
Maybe the lint failure is preventing builds?
[Kathryn Woessner]
  [1 hour ago]
Should I make an issue somewhere?
[Sam Reid]
  [1 hour ago]
Yes please.  Perhaps in the aqua repo?

[2022-06-20 16:11] samreid commented on #148
I'll try pulling aqua on CT.

UPDATE: CT commands are running very slowly, including logging in, authenticating, etc.  I've been waiting 60+ seconds for `pm2 stop continuous-server` to complete.
UPDATE: I abandoned that command.

[2022-06-20 17:25] #136 closed

[2022-06-24 15:42] zepumph opened #149 "MaxListenersExceededWarning with puppeteer Client."
Here is what the error log looks like these days for continuous-testing-client:

[code]

I found https://github.com/puppeteer/puppeteer/issues/1981 which may be helpful.

[2022-06-24 15:56] zepumph opened #150 "CT: Error: Failed to launch the browser process!"
I think this has something to do with bayes and the number of puppeteer instances on it, but I'm not really sure. I'll have to take a look.

This looks to be exactly the same as https://github.com/puppeteer/puppeteer/issues/6757 (except docker). I'll see if there is something I need to do better about closing it down.

<details>

[code]

[2022-06-24 15:56] zepumph commented on #150
Likely https://github.com/puppeteer/puppeteer/issues/1981 is a byproduct of this error. https://github.com/puppeteer/puppeteer/issues/1981

[2022-06-24 18:51] zepumph commented on #150
I was also able to reproduce this just by going onto bayes and building `arithmetic --brands=phet-io` in the continuous-client repos. It worked when I stopped all pm2 processes. Something with continuous-client is not working well over a long period of time.

[2022-06-24 18:54] zepumph commented on #148
I think this is likely related to @pixelzoom's post on slack, but things got worse over time. I made https://github.com/phetsims/aqua/issues/150 to track it.

[2022-06-27 15:59] zepumph commented on #150
I think @mattpen and I got to the bottom of this. The new puppeteer client seems to be orphaning chrome instances when it stops or crashes, and so this morning, when all pm2 processes were stopped, we found 575 chrome instances still running. I will work on better cleanup/error handling for the puppeteer client.

[2022-06-30 19:00] zepumph commented on #150
This morning there were 5200 instances of chrome running. I should look into this. I was hoping to have time this afternoon

[2022-06-30 20:33] zepumph commented on #150
https://stackoverflow.com/questions/62220867/puppeteer-chromium-instances-remain-active-in-the-background-after-browser-disc has something I'd like to try, instead of using zygote (an internal process forker), lets have things forked via node. Worth a shot!

[2022-06-30 22:31] zepumph commented on #150
This didn't seem to change anything, After 2 hours, there are double the number of chrome instances running. I'll have to keep looking.

[2022-07-05 21:20] kathy-phet opened #151 "Add dedicated CT server"